/*-----------------------------------------------------------------------*\
   MEDITECH main.css 
 
   Index
   - CSS Base
   - Typography & Icons
   - Header & Slidebar
   - Forms, Tables, & Lists
   - Footer
   - Layout
   - Colors
   - Utilities
   - Design Elements
   - Images
   - Buttons
   - Media Queries
\*-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------*\
    CSS Base
\*-----------------------------------------------------------------------*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

html {
  height: 100%;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  min-height: 100%;
  height: auto;
  position: relative;
  margin: 0
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  font-size: 100%
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
article,
summary {
  display: block
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline
}

audio:not([controls]) {
  display: none;
  height: 0
}

[hidden],
template {
  display: none
}

a {
  background: transparent
}

a:active,
a:hover {
  outline: 0
}

abbr[title] {
  border-bottom: 1px dotted
}

b,
strong {
  font-weight: bold
}

dfn {
  font-style: italic
}

mark {
  background: #ff0;
  color: #000
}

sub,
sup {
  font-size: 60%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -0.5em
}

sub {
  bottom: -0.25em
}

img {
  border: 0;
  margin: 0;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden
}

figure {
  padding: 0;
  margin: 0
}

.lt-ie9 figure,
.lt-ie9 figcaption {
  display: block
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  border-bottom: 1px solid #e6e9ee;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.6875em 0
}

pre {
  overflow: auto
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0
}

button {
  overflow: visible
}

button,
select {
  text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer
}

button[disabled],
html input[disabled] {
  cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0
}

input {
  line-height: normal
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em
}

legend {
  border: 0;
  padding: 0 .5em;
}

textarea {
  overflow: auto
}

optgroup {
  font-weight: bold
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td,
th {
  padding: 0
}

header,
nav,
menu,
section,
article,
article,
aside,
footer,
figure,
figcaption {
  display: block
}

section,
article {
  padding-top: 2em;
  padding-bottom: 2em;
  max-width: 64em;
  margin-left: auto;
  margin-right: auto
}

section:after,
article:after {
  content: "";
  display: table;
  clear: both
}

address {
  font-style: normal
}

blockquote {
  position: relative;
  margin: 1.5em 1em 1.5em 2em
}

blockquote:before,
blockquote:after {
  font-size: 8em
}

blockquote:before {
  color: #e6e9ee;
  font-family: "montserrat", Verdana, sans-serif;
  content: open-quote;
  line-height: 0.1em;
  position: absolute;
  top: .375em;
  left: -.385em;
  z-index: -10
}

blockquote:after {
  visibility: hidden;
  content: close-quote;
  display: block;
  height: 0
}

blockquote p:last-child {
  margin-bottom: 0
}

/*-----------------------------------------------------------------------*\
    Typography & Icons
\*-----------------------------------------------------------------------*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  src: url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/fa-brands-400.eot');
  src: url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/fa-brands-400.eot?#iefix') format('embedded-opentype'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/fa-brands-400.woff2') format('woff2'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/fa-brands-400.woff') format('woff'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/fa-brands-400.ttf') format('truetype'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/fa-brands-400.svg#fontawesome') format('svg');
}

.fab {
  font-family: 'Font Awesome 5 Brands';
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  src: url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/fa-regular-400.eot');
  src: url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/fa-regular-400.eot?#iefix') format('embedded-opentype'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/fa-regular-400.woff2') format('woff2'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/fa-regular-400.woff') format('woff'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/fa-regular-400.ttf') format('truetype'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/fa-regular-400.svg#fontawesome') format('svg');
}

.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  src: url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/fa-solid-900.eot');
  src: url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/fa-solid-900.eot?#iefix') format('embedded-opentype'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/fa-solid-900.woff2') format('woff2'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/fa-solid-900.woff') format('woff'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/fa-solid-900.ttf') format('truetype'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/fa-solid-900.svg#fontawesome') format('svg');
}

.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.fa,
.fas,
.far,
.fal,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -.0667em;
}

.fa-xs {
  font-size: .75em;
}

.fa-sm {
  font-size: .875em;
}

.fa-1x {
  font-size: 1em;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-6x {
  font-size: 6em;
}

.fa-7x {
  font-size: 7em;
}

.fa-8x {
  font-size: 8em;
}

.fa-9x {
  font-size: 9em;
}

.fa-10x {
  font-size: 10em;
}

.fa-fw {
  text-align: center;
  width: 1.25em;
}

.fa-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0;
}

.fa-ul > li {
  position: relative;
}

.fa-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit;
}

.fa-border {
  border: solid 0.08em #eee;
  border-radius: .1em;
  padding: .2em .25em .15em;
}

.fa-pull-left {
  float: left;
}

.fa-pull-right {
  float: right;
}

.fa.fa-pull-left,
.fas.fa-pull-left,
.far.fa-pull-left,
.fal.fa-pull-left,
.fab.fa-pull-left {
  margin-right: .3em;
}

.fa.fa-pull-right,
.fas.fa-pull-right,
.far.fa-pull-right,
.fal.fa-pull-right,
.fab.fa-pull-right {
  margin-left: .3em;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}

.fa-flip-horizontal.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  -webkit-filter: none;
  filter: none;
}

.fa-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2em;
}

.fa-stack-1x,
.fa-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: #fff;
}

.fa-phone:before {
  content: "\f095";
}

.fa-sitemap:before {
  content: "\f0e8";
}

.fa-cogs:before {
  content: "\f085";
}

.fa-exchange-alt:before {
  content: "\f362";
}

.fa-balance-scale:before {
  content: "\f24e";
}

.fa-check-square:before {
  content: "\f14a";
}

.fa-square:before {
  content: "\f0c8";
}

.fa-user-md:before {
  content: "\f0f0";
}

.fa-bell:before {
  content: "\f0f3";
}

.fa-database:before {
  content: "\f1c0";
}

.fa-exclamation:before {
  content: "\f12a";
}

.fa-comments:before {
  content: "\f086";
}

.fa-heart:before {
  content: "\f004";
}

.fa-twitter-square:before {
  content: "\f081";
}

.fa-linkedin:before {
  content: "\f08c";
}

.fa-facebook-square:before {
  content: "\f082";
}

.fa-google-plus-square:before {
  content: "\f0d4";
}

.fa-envelope-square:before {
  content: "\f199";
}

.fa-bullhorn:before {
  content: "\f0a1";
}

.fa-bolt:before {
  content: "\f0e7";
}

.fa-certificate:before {
  content: "\f0a3";
}

.fa-home:before {
  content: "\f015";
}

.fa-briefcase:before {
  content: "\f0b1";
}

.fa-heartbeat:before {
  content: "\f21e";
}

.fa-users:before {
  content: "\f0c0";
}

.fa-clock:before {
  content: "\f017";
}

.fa-bullseye:before {
  content: "\f140";
}

.fa-arrow-circle-right:before {
  content: "\f0a9";
}

.fa-ambulance:before {
  content: "\f0f9";
}

.fa-hospital:before {
  content: "\f0f8";
}

.fa-chart-bar:before {
  content: "\f080";
}

.fa-user:before {
  content: "\f007";
}

.fa-minus-circle:before {
  content: "\f056";
}

.fa-microphone:before {
  content: "\f130";
}

.fa-times:before {
  content: "\f00d";
}

.fa-map-marker-alt:before {
  content: "\f3c5";
}

.fa-fax:before {
  content: "\f1ac";
}

.fa-phone-square:before {
  content: "\f098";
}

.fa-envelope:before {
  content: "\f0e0";
}

.fa-server:before {
  content: "\f233";
}

.fa-lock:before {
  content: "\f023";
}

.fa-question-circle:before {
  content: "\f059";
}

.fa-flag:before {
  content: "\f024";
}

.fa-calendar-alt:before {
  content: "\f073";
}

.fa-video:before {
  content: "\f03d";
}

.fa-search:before {
  content: "\f002";
}

.fa-dollar-sign:before {
  content: "\f155";
}

.fa-stethoscope:before {
  content: "\f0f1";
}

.fa-genderless:before {
  content: "\f22d";
}

.fa-play-circle:before {
  content: "\f144";
}

.fa-file-pdf:before {
  content: "\f1c1";
}

.fa-external-link-alt:before {
  content: "\f35d";
}

.fa-minus-circle:before {
  content: "\f056";
}

.fa-plus-circle:before {
  content: "\f055";
}

.fa-caret-down:before {
  content: "\f0d7";
}

.fa-star:before {
  content: "\f005";
}

.fa-file-prescription:before {
  content: "\f572";
}

.fa-diagnoses:before {
  content: "\f470";
}

.fa-file-signature:before {
  content: "\f573";
}

.fa-prescription-bottle:before {
  content: "\f485";
}

.fa-user-injured:before {
  content: "\f728";
}

.fa-prescription:before {
  content: "\f5b1";
}

.fa-hand-point-up:before {
  content: "\f0a6";
}

.fa-address-card:before {
  content: "\f2bb";
}

.fa-search-plus:before {
  content: "\f00e";
}

.icon-physician:before {
  content: "\e900";
}

.icon-organization:before {
  content: "\f037";
}

.icon-user-tie:before {
  content: "\e976";
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-regular.eot');
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-regular.eot?#iefix') format('embedded-opentype'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-regular.woff2') format('woff2'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-regular.woff') format('woff'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-regular.ttf') format('truetype'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-regular.svg#Montserrat') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-italic.eot');
  src: local('Montserrat Italic'), local('Montserrat-Italic'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-italic.eot?#iefix') format('embedded-opentype'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-italic.woff2') format('woff2'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-italic.woff') format('woff'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-italic.ttf') format('truetype'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-italic.svg#Montserrat') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-500.eot');
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-500.eot?#iefix') format('embedded-opentype'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-500.woff2') format('woff2'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-500.woff') format('woff'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-500.ttf') format('truetype'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-500.svg#Montserrat') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-500italic.eot');
  src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-500italic.eot?#iefix') format('embedded-opentype'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-500italic.woff2') format('woff2'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-500italic.woff') format('woff'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-500italic.ttf') format('truetype'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-500italic.svg#Montserrat') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-600.eot');
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-600.eot?#iefix') format('embedded-opentype'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-600.woff2') format('woff2'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-600.woff') format('woff'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-600.ttf') format('truetype'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-600.svg#Montserrat') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-600italic.eot');
  src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-600italic.eot?#iefix') format('embedded-opentype'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-600italic.woff2') format('woff2'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-600italic.woff') format('woff'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-600italic.ttf') format('truetype'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-600italic.svg#Montserrat') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-700.eot');
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-700.eot?#iefix') format('embedded-opentype'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-700.woff2') format('woff2'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-700.woff') format('woff'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-700.ttf') format('truetype'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-700.svg#Montserrat') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-700italic.eot');
  src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-700italic.eot?#iefix') format('embedded-opentype'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-700italic.woff2') format('woff2'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-700italic.woff') format('woff'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-700italic.ttf') format('truetype'), url('https://ehr-dev.meditech.com/drupal/sites/all/themes/meditech/fonts/montserrat-v12-latin-700italic.svg#Montserrat') format('svg');
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?qy3qnp');
  src: url('../fonts/icomoon.eot?qy3qnp#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?qy3qnp') format('truetype'), url('../fonts/icomoon.woff2') format('woff2'), url('../fonts/icomoon.woff?qy3qnp') format('woff'), url('../fonts/icomoon.svg?qy3qnp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.montserrat {
  font-family: "montserrat", Verdana, sans-serif;
}

.source-sans-pro {
  font-family: "source-sans-pro", Helvetica, Arial, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  color: #3e4545;
  background-color: #fff;
  font-family: "source-sans-pro", Helvetica, Arial, sans-serif;
  font-size: 1.125em;
  line-height: 1.6875
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "montserrat", Verdana, sans-serif;
  line-height: 1.40625em;
  margin: 0;
  font-weight: 600;
  text-rendering: optimizeLegibility
}

h1,
.header-one {
  font-size: 1.8em
}

h2,
.header-two {
  font-size: 1.5em
}

h3,
.header-three,
#edit-tid-wrapper > label {
  font-size: 1.2em
}

h4,
.header-four {
  font-size: 1.1em
}

h5,
.header-five {
  font-size: .9em
}

h6,
.header-six {
  font-size: .88em
}

h1,
.header-one,
h2,
.header-two,
h3,
.header-three,
#edit-tid-wrapper > label,
h4,
.header-four,
h5,
.header-five,
h6,
.header-six {
  margin: 0.39706em 0 0.61364em 0
}

h1 a,
.header-one a,
h2 a,
.header-two a,
h3 a,
.header-three a,
#edit-tid-wrapper > label a,
h4 a,
.header-four a,
h5 a,
.header-five a,
h6 a,
.header-six a {
  text-decoration: none;
  color: #087E68;
  border-bottom: none
}

h1 a:hover,
.header-one a:hover,
h2 a:hover,
.header-two a:hover,
h3 a:hover,
.header-three a:hover,
#edit-tid-wrapper > label a:hover,
h4 a:hover,
.header-four a:hover,
h5 a:hover,
.header-five a:hover,
h6 a:hover,
.header-six a:hover {
  color: #3e4545
}

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #087E68;
  text-decoration: none
}

p {
  margin: 0 0 0.84375em;
  font-family: inherit;
  font-weight: normal;
  line-height: 1.6875em
}

p a {
  color: #087E68;
  border-bottom: 1px solid #c8ced9
}

p a:hover {
  color: #3e4545;
  border-bottom: 1px solid #3e4545
}

a:hover {
  color: #3e4545
}

a:active,
a:focus {
  outline: none
}

a[target="_blank"]:after,
a[href$=".pdf"]:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 0.7em;
  padding: 0em 0.25em
}

a[target="_blank"]:after,
a[href$=".pdf"]:after {
  content: " \f35d"
}

a[href$=".pdf"]:after {
  font-weight: 400;
  content: " \f1c1"
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-target-icon a[target="_blank"]::after {
  content: ""
}

.text--large {
  font-size: 1.2em;
  line-height: 1.5em
}

.text--small {
  font-size: 0.85em;
  line-height: 1em
}

.bold {
  font-weight: bold
}

.italic {
  font-style: italic
}

/*-----------------------------------------------------------------------*\
    Header & Slidebar
\*-----------------------------------------------------------------------*/

html,
body,
#sb-site,
.sb-site-container,
.sb-slidebar {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

html.sb-scroll-lock.sb-active:not(.sb-static) {
  overflow: hidden
}

#sb-site,
.sb-site-container {
  width: 100%;
  position: relative;
  z-index: 1;
  background-color: #ffffff
}

.sb-slidebar {
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  z-index: 0;
  display: none;
  background-color: #222222;
  -webkit-transform: translate(0px)
}

.sb-left {
  left: 0
}

.sb-right {
  right: 0
}

html.sb-static .sb-slidebar,
.sb-slidebar.sb-static {
  position: absolute
}

.sb-slidebar.sb-active {
  display: block
}

.sb-style-overlay {
  z-index: 9999
}

.sb-momentum-scrolling {
  -webkit-overflow-scrolling: touch
}

.sb-slidebar {
  width: 30%
}

.sb-width-thin {
  width: 15%
}

.sb-width-wide {
  width: 45%
}

.sb-slide,
#sb-site,
.sb-site-container,
.sb-slidebar {
  -webkit-transition: -webkit-transform 400ms ease;
  -moz-transition: -moz-transform 400ms ease;
  -o-transition: -o-transform 400ms ease;
  transition: transform 400ms ease;
  -webkit-transition-property: -webkit-transform, left, right;
  -webkit-backface-visibility: hidden
}

.sb-hide {
  display: none
}

.page__title--main {
  font-size: 1.2em;
  font-family: "montserrat", Verdana, sans-serif;
  font-weight: bold;
  line-height: 1em
}

.nav__menu--large {
  font-size: 1.2em;
  font-weight: 500
}

.header__logo {
  margin: .6em 0 0 0;
  line-height: 0
}

.header__logo__link a {
  color: #fff
}

.header__logo__link a:hover {
  color: #fff
}

.header__search {
  float: left;
  width: 21.1em;
  margin: 0 1em 0 0
}

.header__button {
  float: left;
  margin: 0
}

.nav {
  top: 0;
  left: 0;
  z-index: 100;
  padding: .325em 0 0;
  width: 100%;
  background: #fff
}

.nav__menu,
.nav__menu--large,
.nav__menu--small {
  float: left;
  padding-left: 0
}

.nav__menu__item,
.nav__menu__item--menu,
.nav__menu__item--last,
.nav__menu__item--secondary,
.nav__menu__item--secondary--last,
.nav__menu--large ul.menu li {
  display: inline-block;
  margin: 0;
  line-height: 50px;
  margin-right: 1.5em
}

.nav__menu__item--menu {
  margin-right: 1em;
  padding-right: 1em;
  border-right: 1px solid #e6e9ee
}

.nav__menu__item--last {
  margin-right: 0
}

.nav__menu__item--secondary,
.nav__menu__item--secondary--last {
  margin-right: 0
}

.nav__menu__item--secondary--last {
  margin-right: 0
}

.nav__menu--small {
  display: none
}

.nav__secondarymenu {
  float: right;
  padding: 0;
  margin: -.3em 0 0 0;
  display: none
}

.nav__secondarymenu:after {
  content: "";
  display: table;
  clear: both
}

.nav__logo--small {
  float: left;
  margin-top: 3px;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 1.78em;
  font-weight: 700;
  height: 50px;
  width: 0px;
  text-align: center;
  line-height: 58px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
}

.nav__logo--small a {
  color: #fff
}

.nav__logo--small a:hover {
  color: #fff
}

.nav__logo--large {
  float: left;
  margin-top: 1.15em;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: arial;
  font-weight: bold;
  color: #3e4545;
  letter-spacing: -.03em;
  display: none
}

.nav__logo--large a {
  color: #fff
}

.nav__logo--large a:hover {
  color: #fff
}

.nav__search {
  display: none;
  padding: .75em 0 .5em 0
}

.nav__icon__search {
  font-size: 1.8em;
  vertical-align: middle
}

.nav__icon__login {
  font-size: 2.1em;
  vertical-align: middle
}

.nav__menu--large ul.menu {
  float: left;
  padding-left: 0
}

.nav__menu--large ul.menu li a {
  font-family: "montserrat", Verdana, sans-serif;
  color: #3e4545
}

.nav__menu--large ul.menu li a:hover {
  color: #087E68;
}

.nav__menu--large ul.menu li a.active {
  font-weight: 600;
  color: #087E68
}

.js-sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  border-bottom: 0.35em solid #00bc6f
}

.js-sticky .nav__logo--small {
  width: 50px;
  margin-right: .8em;
  transition: .4s
}

.js-sticky .nav__secondarymenu {
  display: block
}

.js-sticky + .main {
  margin-top: 70px
}

.slideoutnav {
  padding-top: 5.5em;
  background-color: #e6e9ee;
  border-right: 0.1em solid #d7dce4
}

.slideoutnav ul.menu {
  list-style: none
}

.slideoutnav ul.menu li {
  margin: 0
}

.slideoutnav ul.menu li a,
.slideoutnav ul.menu li.last a {
  margin-right: 1em;
  padding: 1em 0;
  border-bottom: 0.1em solid #d7dce4;
  display: block;
  font-family: "montserrat", Verdana, sans-serif;
  color: #3e4545
}

.slideoutnav ul.menu li a:hover,
.slideoutnav ul.menu li.last a:hover {
  color: #087E68;
  cursor: pointer;
}

.slideoutnav ul.menu li a:after,
.slideoutnav ul.menu li.last a:after {
  content: "\00bb";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  display: inline-block;
  padding: 0.1em 0.5em 0 0;
  float: right
}

.slideoutnav ul.menu li.last a {
  border-bottom: 0
}

/*-----------------------------------------------------------------------*\
    Forms, Tables, & Lists
\*-----------------------------------------------------------------------*/

input[type="submit"],
button,
.btn--customer-portal,
.btn--orange,
.container__newsletter input[type="submit"],
.btn--emerald,
ul.pager-load-more a,
input[type="submit"],
.form__search__button,
.form__search__button[type="submit"] {
  font-size: 0.89em
}

ul,
ol {
  margin: 0;
  padding: 0;
  padding-left: 1.5em
}

ul li,
ol li {
  margin-bottom: 1em;
  line-height: 1.6875em
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-top: 0.5em
}

ul ul li,
ul ol li,
ol ul li,
ol ol li {
  line-height: 1.6875em;
  margin-bottom: 0.5em
}

ul ul ul li,
ul ul ol li,
ul ol ul li,
ul ol ol li,
ol ul ul li,
ol ul ol li,
ol ol ul li,
ol ol ol li {
  line-height: 1.6875em;
  margin-bottom: 0.25em
}

dl {
  margin-bottom: 0.84375em
}

dl dt {
  font-weight: bold;
  margin-top: 0.84375em
}

dl dd {
  margin: 0
}

.large-numbered-list {
  float: left;
  margin-right: .7em;
  font-family: "montserrat", Verdana, sans-serif;
  font-weight: bold
}

.large-numbered-list--description {
  text-align: left;
  overflow: hidden
}

.news__article__filters li {
  display: inline
}

.news__article__filters li::after {
  content: ", "
}

.news__article__filters li:last-child::after {
  content: ""
}

ul.pager-load-more {
  margin-top: 1.5em;
  padding: 0;
  text-align: center;
  list-style: none
}

ul.pager-load-more li {
  margin-bottom: 0
}

ul.pager-load-more a {
  width: 100%;
  text-align: center
}

ul.pager-load-more button {
  margin-bottom: 2em;
  text-align: center;
  width: 100%;
  background: none repeat scroll 0 0 #087E68;
  border: 1px solid #087E68;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  height: auto;
  line-height: normal;
  outline: 0 none;
  padding: 1em 1.5em;
  transition: background 0.6s ease-in-out 0s, border 0.6s ease-in-out 0s
}

ul.pager-load-more button:hover {
  background: none repeat scroll 0 0 #3e4545;
  border: 1px solid #3e4545;
  color: #fff;
  transition: background 0.6s ease-in-out 0s, border 0.6s ease-in-out 0s
}

form {
  margin-top: 1em;
  margin-bottom: 1em
}

fieldset {
  background: #fff;
  border: 1px solid #e6e9ee;
  margin: 0 0 0.84375em 0;
  padding: 1.6875em
}

label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

label.required:after {
  content: "*"
}

label abbr {
  display: none
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
textarea,
select,
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  margin-bottom: 0.84375em;
  padding: 0.5625em 0.5625em;
  width: 100%;
  padding: .91em .5em;
  color: #3e4545;
  border: 1px solid #7b8888;
  outline: transparent;
  box-shadow: none;
  transition: box-shadow .4s, border .4s;
  -webkit-border-radius: 0;
  border-radius: 0
}

input[type="email"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="url"]:hover,
input[type="color"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
textarea:hover,
select:hover,
select[multiple=multiple]:hover {
  transition: box-shadow .2s, border .2s;
  box-shadow: inset #d9dcdc 0 -0.2em 0 0
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
textarea:focus,
select:focus,
select[multiple=multiple]:focus {
  background: #fff;
  color: #3e4545;
  border: 1px solid #3e4545;
  transition: box-shadow .8s;
  box-shadow: inset #087E68 0 -0.2em 0 0
}

input[type="email"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder,
select[multiple=multiple]::-webkit-input-placeholder {
  color: #bec4c4
}

input[type="email"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="url"]:-moz-placeholder,
input[type="color"]:-moz-placeholder,
input[type="date"]:-moz-placeholder,
input[type="datetime"]:-moz-placeholder,
input[type="datetime-local"]:-moz-placeholder,
input[type="month"]:-moz-placeholder,
input[type="time"]:-moz-placeholder,
input[type="week"]:-moz-placeholder,
textarea:-moz-placeholder,
select:-moz-placeholder,
select[multiple=multiple]:-moz-placeholder {
  color: #bec4c4
}

input[type="email"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="color"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="datetime-local"]::-moz-placeholder,
input[type="month"]::-moz-placeholder,
input[type="time"]::-moz-placeholder,
input[type="week"]::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder,
select[multiple=multiple]::-moz-placeholder {
  color: #bec4c4
}

input[type="email"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="color"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="week"]:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder,
select[multiple=multiple]:-ms-input-placeholder {
  color: #bec4c4
}

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.6875em;
  color: #bec4c4;
  outline: transparent;
  -webkit-appearance: menulist-button;
  line-height: 52px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  cursor: pointer;
  display: block;
  width: 100%
}

input[type="checkbox"],
input[type="radio"] {
  display: inline
}

input[type="submit"] {
  margin-top: 1em
}

textarea {
  resize: vertical;
  height: 260px
}

.form-checkboxes .form-item {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-top: .3em;
  @include clearfix;
  ;
  width: 100%
}

.form-checkboxes .form-item:last-child {
  margin-right: 0
}

.form-checkboxes .form-item:nth-child(3n) {
  margin-right: 0
}

.form-checkboxes .form-item:nth-child(3n + 1) {
  clear: left
}

.form-checkboxes input[type=checkbox] {
  float: left;
  margin-right: 0.6em;
  margin-top: .15em;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: none
}

.form-checkboxes label {
  display: block;
  height: auto;
  line-height: normal
}

.lt-ie9 .form-checkboxes input[type=checkbox] {
  display: block
}

input[type=checkbox] {
  opacity: 0;
}

input[type=checkbox] + label:before {
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  font-weight: 900;
}

input[type=checkbox] + label:before {
  padding-right: .3em;
  content: "\f0c8";
  color: #087E68;
  height: .75em;
  width: .75em;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  position: relative;
  left: -10px;
}

.lt-ie9 input[type=checkbox] + label:before {
  content: none
}

label.filter__list__item__label:hover:before {
  color: #7b8888;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out
}

input[type=checkbox]:checked + label:before {
  content: "\f14a";
  color: #087E68
}

.lt-ie9 input[type=checkbox]:checked + label:before {
  content: none
}

input[type=checkbox]:focus ~ label:before,
input[type=checkbox]:focus ~ label {
  color: #087E68;
  font-weight: bold;
}

input#edit-pass,
input#edit-name {
  margin-bottom: .2em
}

.form__search,
.form__newsletter {
  width: 100%;
  position: relative;
  margin: 0
}

.form__search__input,
.form__newsletter input,
.form__search__input[type="text"],
.form__newsletter input[type="text"],
.form__search__input[type="search"],
.form__newsletter input[type="search"],
.form__search__input[type="submit"],
.form__newsletter input[type="submit"] {
  margin-bottom: 0
}

.form__search__button,
.form__search__button[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0
}

.form__newsletter input {
  background-color: #e6e9ee;
  border: 1px solid #e6e9ee
}

.form__newsletter input:hover,
.form__newsletter input:active,
.form__newsletter input:focus {
  border: 1px solid #fff;
  background-color: #fff
}

table {
  border-collapse: collapse;
  margin: 0.84375em 0;
  table-layout: fixed;
  width: 100%;
  border: 1px solid #e6e9ee;
  border-collapse: separate;
  border-spacing: 0
}

tbody {
  background-color: #f5f6f8
}

tbody:last-child tr:last-child > td:first-child {
  border-bottom-left-radius: 0.16667em
}

tbody:last-child tr:last-child > td:last-child {
  border-bottom-right-radius: 0.16667em
}

td,
th {
  padding: 0.5em;
  border-left: 1px solid #e6e9ee;
  border-bottom: 1px solid #e6e9ee
}

td button,
th button {
  border: 1px solid #c7d0df;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #fff;
  color: #333;
  display: inline-block;
  font-weight: bold;
  background-color: #f5f6f8;
  background-image: -webkit-linear-gradient(#f5f6f8, #d1d8e5);
  background-image: linear-gradient(#f5f6f8, #d1d8e5);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  background-clip: padding-box;
  margin-right: 0.5em;
  display: inline-block;
  width: 100%;
  margin-bottom: .3em;
  outline: none
}

td button:hover:not(:disabled),
th button:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 #fff;
  cursor: pointer;
  background-color: #e7e9ed;
  background-image: -webkit-linear-gradient(#e7e9ed, #c7d0df);
  background-image: linear-gradient(#e7e9ed, #c7d0df)
}

td button:active:not(:disabled),
td button:focus:not(:disabled),
th button:active:not(:disabled),
th button:focus:not(:disabled) {
  border: 1px solid #c7d0df;
  box-shadow: inset 0 0 8px 4px #bec8d9, inset 0 0 8px 4px #bec8d9
}

td button:disabled,
th button:disabled {
  opacity: 0.5;
  cursor: not-allowed
}

th {
  font-weight: bold;
  text-align: left
}

tr,
td,
th {
  vertical-align: top
}

tr:hover > td,
tr:hover > th {
  background-color: #dadee6
}

.no-hover tr:hover > td,
.no-hover tr:hover > th {
  background-color: inherit
}

tr:nth-child(even) {
  background-color: #e9ecf0
}

thead th {
  padding: 0.5em;
  border-left: 1px solid #e6e9ee
}

thead:first-of-type tr:first-child > th:first-child {
  border-top-left-radius: 0.16667em
}

thead:first-of-type tr:first-child > th:last-child {
  border-top-right-radius: 0.16667em
}

thead th.header {
  cursor: pointer;
  background-image: url(../images/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  background-color: #fff
}

thead th.headerSortUp {
  background-image: url(../images/asc.gif);
  background-color: #00bbb3;
}

thead th.headerSortDown {
  background-image: url(../images/desc.gif);
  background-color: #00bbb3;
}

.table__careers__postion {
  width: 66.666%
}

.table__careers__location {
  width: 33.333%
}

.table__careers__date {
  width: 20%
}

.table__careers__event {
  width: 40%
}

.table__careers__event__location {
  width: 40%
}

.cus-content-search-input {
  height: 55px;
}

.cus-content-search-button {
  font-weight: 700;
  color: #fff;
  background: #087E68;
  padding: 0em 1.5rem;
  -webkit-transition: background 0.6s ease-in-out;
  -moz-transition: background 0.6s ease-in-out;
  transition: background 0.6s ease-in-out;
}

.cus-content-search-button:hover {
  background: #3e4545;
}

.input-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

/*-----------------------------------------------------------------------*\
    Footer
\*-----------------------------------------------------------------------*/

footer {
  width: 100%;
}

footer:after {
  content: "";
  display: table;
  clear: both
}

footer img {
  padding-bottom: 1em;
  margin-top: 2em
}

footer h4 {
  margin-bottom: 0
}

footer ul {
  list-style-type: none;
  padding-left: 0.5em
}

footer ul li {
  margin: 1em 0;
  line-height: 1.25em;
}

/*-----------------------------------------------------------------------*\
    Layout 
\*-----------------------------------------------------------------------*/

.container {
  width: 100%;
  padding: 3em 0
}

.container:after {
  content: "";
  display: table;
  clear: both
}

.container__centered {
  max-width: 64em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em
}

.container__centered:after {
  content: "";
  display: table;
  clear: both
}

.gl-container {
  background-color: rgba(255, 255, 255, .8);
  overflow: auto;
  display: flex;
  flex-flow: row wrap;
}

.gl-container > div {
  margin-right: 0;
  padding: 2em;
}

.fw-gl-container {
  padding: 0;
  background-color: rgba(255, 255, 255, .8);
  overflow: auto;
}

.fw-gl-container > div {
  padding: 2em;
}

.container__one-fifth {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 18.11388%;
}

.container__one-fifth:last-child {
  margin-right: 0
}

.gl-container > .container__one-fifth {
  width: 20%;
}

.container__four-fifths {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 79.52847%;
}

.container__four-fifths:last-child {
  margin-right: 0
}

.gl-container > .container__four-fifths {
  width: 80%;
}

.container__one-half {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%
}

.container__one-half:last-child {
  margin-right: 0
}

.gl-container > .container__one-half {
  width: 50%;
}

.lt-ie9 .container__one-half {
  width: 47%
}

.container__one-third {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%
}

.container__one-third:last-child {
  margin-right: 0
}

.lt-ie9 .container__one-third {
  width: 28%
}

.gl-container > .container__one-third {
  width: 33.33%;
}

.container__one-fourth {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%
}

.container__one-fourth:last-child {
  margin-right: 0
}

.gl-container > .container__one-fourth {
  width: 25%;
}

.container__two-thirds {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%
}

.container__two-thirds:last-child {
  margin-right: 0
}

.gl-container > .container__two-thirds {
  width: 66.66%;
}

.container__two-thirds--with-sidebar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  padding-right: 1em
}

.container__two-thirds--with-sidebar:last-child {
  margin-right: 0
}

.container__two-thirds--with-sidebar > .accordion {
  margin: 0
}

.container__three-fourths {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%
}

.container__three-fourths:last-child {
  margin-right: 0
}

.gl-container > .container__three-fourths {
  width: 75%;
}

.container--page-title {
  background: #e6e9ee;
  padding: 1em 0;
  margin-top: .2em;
}

.container__newsletter {
  text-align: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto
}

.container__left {
  float: left;
  width: 400px; /* IE9 Fix */
}

.container__left:after {
  content: "";
  display: table;
  clear: both
}

.container__right {
  float: right
}

.container__right:after {
  content: "";
  display: table;
  clear: both
}

.element-invisible {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important
}

.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto
}

.panel {
  background: #e6e9ee;
  padding: 1em;
  margin-bottom: 2em;
  position: relative;
}

.inline__text__wrapper {
  margin: 0 0 0.8em
}

.inline__text__wrapper p {
  display: inline
}

.news__article__filters {
  border-bottom: none;
  font-style: italic;
  list-style: none;
  padding-left: 0;
  display: inline
}

.lt-ie9 .sidebar {
  width: 29%
}

.sidebar__images {
  text-align: center
}

.sidebar__images img {
  margin-bottom: 2em
}

.sidebar__nav {
  margin-bottom: 1em
}

.sidebar__nav ul.menu,
.sidebar__nav__list {
  padding: 0;
  list-style-type: none
}

.sidebar__nav ul.menu li,
.sidebar__nav__list__item,
.sidebar__nav ul.menu li.last,
.views-row-last.sidebar--nav--list--item,
.sidebar--nav--list--item {
  padding: 0.8em 0 1em 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0
}

.sidebar__nav ul.menu li.last,
.views-row-last.sidebar--nav--list--item {
  border-bottom: none;
  padding-bottom: 0
}

.sidebar__nav ul.menu a {
  text-decoration: none;
  color: #087E68;
  display: block
}

.sidebar__nav ul.menu a:hover {
  color: #3e4545;
  cursor: pointer
}

.sidebar__nav ul.menu a:before {
  content: "\00bb";
  position: absolute;
  padding-right: 1.5em;
  right: 0
}

.sidebar__nav ul.menu a.active {
  color: #087E68
}

.sidebar__nav a.sidebar__nav__link--external {
  line-height: 1.5em
}

.sidebar__nav__link--external {
  text-decoration: none;
  color: #087E68;
  display: block
}

.sidebar__nav__link--external:hover {
  color: #3e4545;
  cursor: pointer
}

.sidebar__nav__link--external:after {
  content: " \f35d";
  font-family: 'Font Awesome 5 Free';
  float: right;
  padding: 0.1em 0.5em 0 0
}

.sidebar__nav__link--special {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #ccc;
  display: block
}

.sidebar__nav__title {
  margin-bottom: 0;
  margin-top: 0
}

.sidebar__nav__title__subhead {
  margin-bottom: 0;
  margin-top: 0.65em
}

.lt-ie9 .sidebar--newsarticle {
  width: 29%
}

.sidebar--newsarticle__title {
  margin: 0.35em 0em
}

.sidebar--event__title,
.sidebar--event__title--first {
  font-weight: bold;
  font-family: "montserrat", Verdana, sans-serif;
  margin-bottom: 0.5em;
  margin-top: 1em
}

.sidebar--event__title--first {
  margin-top: 0em
}

.accordion {
  margin-top: 2em
}

.accordion__list {
  list-style-type: none;
  padding-left: 0
}

.accordion__list__item {
  margin-bottom: .7em;
  background: #e6e9ee
}

.accordion__close {
  display: block;
  margin-top: 1.3em
}

.accordion__link {
  padding: 1.2em;
  font-family: "montserrat", Verdana, sans-serif;
  display: block
}

.accordion__list__control {
  float: right
}

.accordion__list__control:after {
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  font-weight: 900;
  content: "\f055"
}

.accordion__dropdown {
  display: none;
  background: #fff;
  padding: 1em 1.2em 1.2em 1.2em;
  border-left: 3px solid #e6e9ee;
  border-right: 3px solid #e6e9ee;
  border-bottom: 3px solid #e6e9ee
}

.is-expanded .accordion__list__control:after {
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  font-weight: 900;
  content: "\f056"
}

.accordion__dropdown__list,
.accordion__dropdown ul {
  margin-top: 1em;
  margin-bottom: 1em;
  list-style-type: disc
}

.accordion__dropdown ul {
  margin: .5em 0 1em 0
}

.accordion__dropdown__list__item,
.accordion__dropdown ul li {
  margin-left: .5em;
  margin-bottom: .6em
}

.accordion__dropdown ul li {
  margin: 0
}

.accordion__dropdown__container__title {
  margin-bottom: 0;
  font-weight: bold;
  margin-top: 0.65em
}

.accordion__dropdown h4 {
  margin-top: 1.2em
}

.accordion__dropdown__description {
  margin-bottom: 1.4em
}

.accordion__dropdown img {
  float: left;
  padding-right: 1em;
  padding-bottom: .5em
}

.accordion__dropdown__container {
  padding-left: 1em
}

.accordion__dropdown__container:after {
  content: "";
  display: table;
  clear: both
}

.accordion__dropdown__container__left {
  width: 18%;
  display: block;
  float: left;
  line-height: 1.5em;
  margin-top: 1em
}

.accordion__dropdown__container__right {
  width: 82%;
  display: block;
  float: left;
  line-height: 1.5em;
  margin-top: 1em
}

.accordion__dropdown__container__right > h5 {
  margin: 0
}

.newsletter__title {
  margin-top: 0;
  color: #fff
}

.container__newsletter input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  width: 33.33334%
}

.executive__bio__avatar {
  display: block;
  margin: 2em 0em
}

.executive__bio__avatar img {
  float: left;
  margin-right: 2em
}

.executive__bio__title {
  margin-bottom: .3em;
  margin-top: 0
}

.executive__bio__subtitle {
  margin-top: 0
}

.quote__content__img {
  margin: 0 auto;
  max-height: 262px;
  width: 100%;
}

.quote__content__icon {
  text-align: center;
  height: 8em;
  width: 8em;
  padding: 2em 1em;
  border-radius: 50%;
  background: #00bbb3;
  margin: 0 auto;
  margin-bottom: 2em
}

.quote__content__text {
  font-family: "montserrat", Verdana, sans-serif;
  quotes: "\201C""\201D""\2018""\2019";
  position: relative;
}

.quote__content__text:before,
.quote__content__text:after {
  color: #000;
  opacity: 0.17;
  filter: alpha(opacity=17);
  position: absolute;
  line-height: 0.1em;
  z-index: -10;
  font-size: 8em
}

.quote__content__text:before {
  content: open-quote;
  top: .325em;
  left: -.15em
}

.quote__content__text:after {
  content: close-quote;
  bottom: -0.3em;
  right: 0em
}

.lt-ie9 .quote__content__text:before,
.lt-ie9 .quote__content__text:after {
  display: none
}

.info__card {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  padding: 1em;
  margin-bottom: 0em
}

.info__card:last-child {
  margin-right: 0
}

.info__card:nth-child(3n) {
  margin-right: 0
}

.info__card:nth-child(3n + 1) {
  clear: left
}

.info__card.no-margin--bottom {
  margin-bottom: 0
}

.info__card__media__img {
  position: relative;
  height: 200px;
  width: 200px;
  line-height: 200px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  display: block;
  text-align: center;
  margin: 0 auto 2em;
  -webkit-transform: translateZ(0);
  z-index: 200
}

a.info__card__media__img:hover {
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  opacity: 0.8;
  filter: alpha(opacity=80)
}

a.info__card__media__img:hover:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out
}

a.info__card__media__img:after {
  position: absolute;
  z-index: -10;
  top: -8px;
  left: -8px;
  content: '';
  height: 100%;
  width: 100%;
  padding: 8px;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 5px #3e4545;
  -moz-box-shadow: 0 0 0 5px #3e4545;
  box-shadow: 0 0 0 5px #3e4545;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out
}

.lt-ie9 .executives > div,
.lt-ie9 .solutions > div {
  width: 27%
}

.content__callout__bg__img,
.content__callout__bg__img--green {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center
}

.content__callout {
  display: table;
  width: 100%;
  height: 350px;
  position: relative;
  border: none;
  background-color: #E6E9EE
}

.content__callout__media {
  display: table-cell;
  width: 60%;
  overflow: hidden;
  position: relative;
  vertical-align: middle
}

.content__callout__bg__img,
.content__callout__bg__img--green {
  position: relative
}

.content__callout__title-wrapper,
.content__callout__title-wrapper--green {
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding-right: 3em;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#5c000000', endColorstr='#5c000000')
}

.content__callout__title-wrapper:after,
.content__callout__title-wrapper--green:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -1.2em;
  border-color: transparent;
  border-right-color: #e6e9ee;
  border-width: 1.2em 1.6em;
  pointer-events: none
}

.content__callout__title-wrapper--green:after {
  border-right-color: #087E68
}

.content__callout__title {
  margin: 0;
  text-align: center;
  padding: 0.5em;
  color: #fff;
  text-shadow: 1px 1px 1px #3e4545
}

.content__callout__subtitle {
  margin-top: 0;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #3e4545;
  padding-bottom: 1.2em
}

.content__callout__image-wrapper {
  position: relative;
  padding: 3em;
  max-width: 100%;
  margin: 0 auto;
  line-height: 0
}

.content__callout__image-wrapper img {
  width: 100%
}

.content__callout__image-wrapper:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -3.5em;
  border-color: transparent;
  border-right-color: #e6e9ee;
  border-width: 1.2em 1.6em;
  pointer-events: none
}

.content__callout__content {
  display: table-cell;
  padding-left: 0;
  padding-right: 6%;
  vertical-align: middle;
  width: 40%;
  background-color: #e6e9ee;
  position: relative
}

.content__callout__content--green,
.content__callout__content-orange,
.content__callout__content-black-coconut {
  display: table-cell;
  padding: 1em 4%;
  vertical-align: middle;
  width: 40%;
  background-color: #e6e9ee;
  position: relative
}

.content__callout__content--green p a {
  color: #fff;
  border-bottom: 1px solid #e6e9ee
}

.content__callout__content--green p a:hover {
  color: #e6e9ee;
  border-bottom: 1px solid #e6e9ee
}

.content__callout__content--green {
  background-color: #087E68;
  color: #fff
}

.content__callout__content-orange {
  background-color: #ff8300
}

.content__callout__content-black-coconut {
  background-color: #3e4545
}

.content__callout__content-black-coconut:after {
  border-right-color: #3e4545
}

.lt-ie9 .content__callout__content,
.lt-ie9 .content__callout__content--green,
.lt-ie9 .content__callout__content-orange,
.lt-ie9 .content__callout__content-black-coconut {
  padding-right: 6em
}

.btn-holder--content__callout {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-align: center
}

.content__callout__body__text {
  padding: 1em 0 1em 0;
}

.video {
  position: relative;
  padding-bottom: 47.56098%;
  height: 0;
  overflow: hidden;
  max-width: 84.5%;
  margin: 0 auto;
  border-radius: 6px;
  box-shadow: 7px 8px 26px rgba(0, 0, 0, 0.1);
}

.video .video__play-btn {
  margin: 0;
  position: absolute;
  top: 48%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: #fff;
  font-size: 8em;
  height: 80px;
  width: 80px;
  line-height: 80px
}

.video .video__play-btn:after {
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  font-weight: 900;
  content: "\f144";
  color: #3e4545;
  margin-left: -.2em
}

.video .video__play-btn:hover:after {
  color: #ff8300;
  -webkit-transition: color 0.6s ease-in-out;
  -moz-transition: color 0.6s ease-in-out;
  transition: color 0.6s ease-in-out
}

.video iframe {
  margin-left: -9999px;
  position: absolute;
  width: 820px;
  z-index: 2
}

.video iframe.active {
  margin-left: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.video.video--full-width {
  max-width: 100%;
  padding-bottom: 56.4%;
  margin-bottom: 1.25em
}

.dropdown-description {
  float: left;
  padding-right: 1em;
  padding-top: 10px
}

.dropdown {
  float: left;
  background: #3e4545;
  color: #fff
}

.dropdown .dropdown-container {
  display: inline-block;
  position: relative;
  text-align: center;
  border: 1px solid #ccc;
  width: 320px
}

.dropdown .dropdown-button {
  cursor: pointer;
  position: relative;
  padding: 12px 0 0 0
}

.dropdown .dropdown-button:after {
  display: block;
  position: absolute;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f0d7";
  right: 26px;
  top: 12px
}

.dropdown .dropdown-menu {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  display: none;
  overflow: show;
  position: absolute;
  text-align: left;
  top: 54px;
  width: 320px;
  z-index: 99999;
  background: #fff;
  border: 1px solid #333;
  list-style: none;
  padding-top: 0;
  padding-left: 0
}

.dropdown .dropdown-menu li {
  margin-bottom: 0
}

.dropdown .dropdown-menu li > a {
  padding: 10px;
  display: block;
  -webkit-transition: background 0.15s ease-in-out;
  -moz-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out
}

.dropdown .dropdown-menu li > a:hover {
  color: #fff;
  background: #333;
  -webkit-transition: background 0.15s ease-in-out;
  -moz-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out
}

.dropdown .show-menu {
  display: block
}

.grid-items-lines {
  position: relative;
  padding-top: 4em
}

.grid-items-lines:after {
  content: "";
  display: table;
  clear: both
}

.grid-item {
  width: 100%;
  overflow: hidden;
  float: left;
  padding: 0.5em 0 1em 0;
  text-align: center;
  border-right: 1px solid #373d3d;
  border-bottom: 1px solid #373d3d;
  width: 33.33333%;
  height: 10em
}

.grid-items-lines .grid-item:nth-child(3n + 3) {
  border-right: 0
}

.grid-items-lines .grid-item:nth-child(1n + 7) {
  border-bottom: 0
}

.grid-items-lines .grid-item:nth-child(9n) {
  border-bottom: 0
}

.grid-item--numbers {
  font-size: 1.9em;
  margin-top: .8em;
  margin-bottom: 0
}

.campaign__wrapper {
  padding-bottom: 3em
}

.campaign__box {
  padding: 3em 2em 1em 2em;
  min-height: 8em;
  position: relative;
  border-radius: 4px;
  background-color: #3e4545;
  margin-bottom: 0;
  text-align: center;
  color: #fff
}

.campaign__icon {
  position: absolute;
  top: -30px;
  left: 42%;
  width: 60px;
  height: 60px;
  line-height: 71px;
  border: 2px solid #087E68;
  background: #fff;
  color: #087E68;
  border-radius: 4px;
  text-align: center
}

.campaign__icon--half {
  position: absolute;
  top: -30px;
  left: 44.5%;
  width: 60px;
  height: 60px;
  line-height: 71px;
  border: 2px solid #087E68;
  background: #fff;
  color: #087E68;
  border-radius: 4px;
  text-align: center
}

.floating-quote-box {
  max-width: 485px;
  padding: 2em;
  margin-bottom: 13em;
  z-index: 1;
}

#counter1 {
  display: block;
  font-size: 2.5em;
  padding-top: .5em;
}

.video--loop-container {
  max-height: 800px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.video--loop {
  width: 100%;
  height: auto;
  margin-bottom: -.5em;
}

.video--overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  background: #000;
  opacity: 0.5;
}

.video--title {
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 2em;
  position: absolute;
  bottom: 40%;
  color: #fff;
  text-align: center;
  z-index: 3;
}

.description {
  margin-bottom: 1em
}

/*-----------------------------------------------------------------------*\
    Colors
\*-----------------------------------------------------------------------*/

.error {
  background-color: #ffc
}

.text--white {
  color: #fff
}

.text--black {
  color: #000
}

.text-shadow--white {
  text-shadow: 1px 1px 1px #fff
}

.text-shadow--black {
  text-shadow: 1px 1px 1px #3e4545
}

.bg--white {
  background-color: #fff;
  color: #3e4545
}

.bg--black {
  background-color: #000;
  color: #fff
}

.bg-overlay--black {
  background-color: none;
}

@media (max-width: 800px) {
  .bg-overlay--black {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.bg-overlay--white {
  background-color: none;
}

@media (max-width: 800px) {
  .bg-overlay--white {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

.text--light-gray {
  color: #e6e9ee
}

.bg--light-gray {
  background-color: #e6e9ee;
  color: #3e4545
}

.text--light-brown {
  color: #D7D1C4;
}

.bg--light-brown {
  background-color: #D7D1C4;
  color: #3e4545
}

.text--black-coconut {
  color: #3e4545
}

.bg--black-coconut {
  background-color: #3e4545;
  color: #fff
}

.text--meditech-green {
  color: #00BC6F
}

.bg--meditech-green {
  background-color: #00BC6F;
  color: #fff
}

.text--emerald {
  color: #087E68
}

.bg--emerald {
  background-color: #087E68;
  color: #fff
}

.text--fresh-mint {
  color: #00bbb3
}

.bg--fresh-mint {
  background-color: #00bbb3;
  color: #fff
}

.text--orange {
  color: #ff8300
}

.bg--orange {
  background-color: #ff8300;
  color: #fff
}

.text--purple {
  color: #B24ec4;
}

.bg--purple {
  background-color: #B24ec4;
  color: #fff
}

.text--dark-blue {
  color: #0075a8;
}

.bg--dark-blue {
  background-color: #0075a8;
  color: #fff
}

.bg--green-gradient {
  background: #087e68;
  background: -webkit-linear-gradient(#00bc6f, #00706c);
  background: -o-linear-gradient(#00bc6f, #00706c);
  background: -moz-linear-gradient(#00bc6f, #00706c);
  background-image: linear-gradient(-150deg, #00bc6f, #00706c);
  color: #fff
}

.bg--blue-gradient {
  background: #0075a8;
  background: -webkit-linear-gradient(#40baec, #2e368f);
  background: -o-linear-gradient(#40baec, #2e368f);
  background: -moz-linear-gradient(#40baec, #2e368f);
  background-image: linear-gradient(-150deg, #40baec, #2e368f);
  color: #fff
}

.text--white a,
.text--light-gray a,
.bg--black-coconut a,
.bg--black a,
.bg--emerald a,
.bg--meditech-green a,
.bg--green-gradient a,
.bg--blue-gradient a,
.bg--dark-blue a,
.bg--purple a,
.bg--fresh-mint a {
  color: #fff;
  border-bottom: 1px solid #e6e9ee
}

.text--white a:hover,
.text--light-gray a:hover,
.bg--black-coconut a:hover,
.bg--black a:hover,
.bg--emerald a:hover {
  color: #00bbb3;
  border-bottom: 1px solid #00bbb3
}

.bg--fresh-mint a:hover,
.bg--green-gradient a:hover,
.bg--blue-gradient a:hover,
.bg--dark-blue a:hover,
.bg--purple a:hover,
.bg--meditech-green a:hover {
  color: #e6e9ee;
  border-bottom: 1px solid #e6e9ee
}

a[href^="tel:"],
a:hover[href^="tel:"] {
  color: #3e4545;
  text-decoration: none;
  border-bottom: none;
  cursor: auto;
}

/*-----------------------------------------------------------------------*\
    Utilities
\*-----------------------------------------------------------------------*/

.clearfix:after {
  content: "";
  display: table;
  clear: both
}

.full-width {
  width: 100%
}

.border-none {
  border: none
}

.center {
  text-align: center
}

.left {
  text-align: left
}

.right {
  text-align: right
}

.auto-margins {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}

.no-pad {
  padding: 0
}

.no-pad--top {
  padding-top: 0
}

.no-pad--bottom {
  padding-bottom: 0
}

.no-margin {
  margin: 0
}

.no-margin--top {
  margin-top: 0
}

.no-margin--bottom {
  margin-bottom: 0
}

.display-none {
  display: none !important
}

.show-on-mobile {
  display: none;
}

.list-style--none ul {
  list-style: none;
  padding-left: 0
}

.padding--large {
  padding-top: 7em;
  padding-bottom: 12em;
}

.padding--medium {
  padding-top: 4em;
  padding-bottom: 4em;
}

.padding--medium a {
  color: #fff;
}

.padding--medium a:hover {
  color: #CCC;
}

.margin-container {
  margin: 1em;
}

.share-icons a {
  font-size: 1.25em;
  border-bottom: 0;
  margin-right: .25em;
}

.share-icons a:hover {
  border-bottom: 0;
}

/*-----------------------------------------------------------------------*\
    Design Elements
\*-----------------------------------------------------------------------*/

.page__title,
.page__title--main,
.page__title--center {
  margin-top: 0
}

.page__title--main {
  margin: 0
}

.page__title--center {
  display: block;
  text-align: center
}

.page__title__ribbon,
.page__title__ribbon--black-coconut,
.page__title__ribbon--white,
.page__title__ribbon--meditech-green {
  display: inline-block;
  width: 4em;
  height: 10px;
  background-color: #00bbb3
}

.page__title__ribbon--black-coconut {
  background-color: #3e4545
}

.page__title__ribbon--meditech-green {
  background-color: #00bc6f
}

.page__title__ribbon--white {
  background-color: #fff
}

.transparent-overlay {
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 5em
}

.transparent-overlay--xp {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2em;
}

.transparent-overlay--white {
  background-color: rgba(256, 256, 256, 0.8);
  padding: 1em;
}

.transparent-overlay--white-xp {
  background-color: rgba(256, 256, 256, 0.8);
  padding: 2em;
}

.desaturateToColorRollover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 0;
  margin-bottom: 0
}

.desaturateToColorRollover:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}

.colorToDesaturateRollover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 0;
  margin-bottom: 0
}

.colorToDesaturateRollover:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}

.os-animation {
  opacity: 0;
}

.os-animation.animated {
  opacity: 1;
}

.phone-number {
  color: #3e4545;
  border-bottom: none;
  cursor: text
}

.phone-number:hover {
  color: #3e4545;
  border-bottom: none
}

.mailchimp-newsletter-wrapper {
  display: none
}

.mailchimp-signup-subscribe-form {
  position: relative
}

.mailchimp-signup-subscribe-form input[type="email"] {
  height: auto
}

.mailchimp-signup-subscribe-form input[type="submit"] {
  margin: 0
}

.circle-people {
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-size: 170%;
  width: 200px;
  height: 200px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

.executive-background {
  background-color: #087e68;
  padding: 10em 0;
}

.diagonal-lines-left {
  float: left;
  position: relative;
  top: -4em;
  left: -1em;
  width: 30%;
}

.diagonal-lines-right {
  float: right;
  position: relative;
  top: -4em;
  left: 1em;
  width: 30%;
}

.open-modal {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.open-modal img {
  display: block;
}

.mag-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 36px;
  height: 36px;
  transition: 0.2s ease;
}

.open-modal:hover .mag-bg {
  height: 50px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.2s ease;
}

.mag-icon {
  color: #fff;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  transition: 0.2s ease;
}

.open-modal:hover .mag-icon {
  font-size: 25px;
  transition: 0.2s ease;
}

#mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 9998;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding: 50px;
  z-index: 9999;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 30px;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 4em 2em 3em 2em;
  width: 95vw;
  height: 95vh;
}

.modal-content img {
  max-width: 100%;
  max-height: 100%;
}

.close-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10000;
  text-align: right;
  top: 50px;
  right: 15px;
  font-size: 60px;
}

.modal a {
  text-decoration: none;
  color: #cdcdcd;
}

.modal a:hover,
.modal a:focus {
  color: #fff;
}

/*-----------------------------------------------------------------------*\
    Images
\*-----------------------------------------------------------------------*/

.background--cover {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  max-width: 100%
}

.square-img-cropper {
  position: relative;
  height: 183px;
  width: 100%;
  overflow: hidden;
  text-align: center
}

.square-img-cropper picture {
  display: block
}

.square-img-cropper img {
  position: absolute;
  top: 0%;
  height: 183px;
  width: 412px;
  max-width: 412px
}

.square-img-cropper.crop-left img {
  left: 0%
}

.square-img-cropper.crop-right img {
  right: 0%
}

.square-img-cropper.crop-center img {
  position: relative;
  left: 100%;
  margin-left: -200%
}

@-moz-document url-prefix() {
  .square-img-cropper.crop-center img {
    margin-left: -170%;
  }

  .cus-content-search-input {
    height: 56px;
  }
}

.news__article__img img {
  margin-bottom: 1em
}

/*-----------------------------------------------------------------------*\
    Buttons
\*-----------------------------------------------------------------------*/

button,
input[type="submit"] {
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap
}

.btn--orange,
.container__newsletter input[type="submit"],
.btn--emerald,
ul.pager-load-more a,
input[type="submit"],
.form__search__button,
.form__search__button[type="submit"] {
  height: auto;
  line-height: normal;
  outline: 0;
  padding: 1em 1.5em;
  display: inline-block;
  font-weight: 700;
  line-height: normal;
  padding: 1em 1.5em;
  cursor: pointer;
  color: #fff !important;
  text-align: center;
  -webkit-transition: background 0.6s ease-in-out, border 0.6s ease-in-out;
  -moz-transition: background 0.6s ease-in-out, border 0.6s ease-in-out;
  transition: background 0.6s ease-in-out, border 0.6s ease-in-out
}

.btn--orange:hover,
.btn--emerald:hover,
ul.pager-load-more a:hover,
input[type="submit"]:hover,
.form__search__button:hover {
  color: #fff !important;
  -webkit-transition: background 0.6s ease-in-out, border 0.6s ease-in-out;
  -moz-transition: background 0.6s ease-in-out, border 0.6s ease-in-out;
  transition: background 0.6s ease-in-out, border 0.6s ease-in-out
}

.btn--orange:active,
.btn--emerald:active,
ul.pager-load-more a:active,
input[type="submit"]:active,
.form__search__button:active {
  color: #fff
}

.btn--orange:focus,
.btn--emerald:focus,
ul.pager-load-more a:focus,
input[type="submit"]:focus,
.form__search__button:focus {
  color: #fff
}

.btn--orange:visited,
.btn--emerald:visited,
ul.pager-load-more a:visited,
input[type="submit"]:visited,
.form__search__button:visited {
  color: #fff
}

.btn--orange,
.container__newsletter input[type="submit"] {
  border: 1px solid #ff8300 !important;
  background-color: #ff8300
}

.btn--orange:hover,
.container__newsletter input[type="submit"]:hover {
  background: #ff610a;
  border: 1px solid #ff610a
}

.btn--emerald,
ul.pager-load-more a,
input[type="submit"],
.form__search__button,
.form__search__button[type="submit"] {
  border: 1px solid #087E68 !important;
  background: #087E68
}

.btn--emerald:hover,
ul.pager-load-more a:hover,
input[type="submit"]:hover,
.form__search__button:hover {
  background: #3e4545;
  border: .5px solid #3e4545
}

.btn--search {
  display: block;
  float: left
}

.btn--search .fa-close {
  color: #3e4545
}

.btn--login {
  display: block;
  float: left;
  margin-left: 1.33em;
  color: #ff8300
}

.btn--login:hover {
  color: #ff610a
}

.btn--login:visited {
  color: #ff8300
}

.btn--menu {
  display: block;
  float: left
}

.button-vertical-adjustment {
  margin-top: 8em;
}

div.button--hubspot {
  margin-bottom: 1.5em;
}

.button--hubspot a {
  font-size: 0.89em !important;
  height: auto !important;
  line-height: normal !important;
  outline: 0 !important;
  padding: 1em 1.5em !important;
  display: inline-block !important;
  font-weight: 700 !important;
  cursor: pointer !important;
  color: #fff !important;
  text-align: center !important;
  -webkit-transition: background 0.6s ease-in-out, border 0.6s ease-in-out !important;
  -moz-transition: background 0.6s ease-in-out, border 0.6s ease-in-out !important;
  transition: background 0.6s ease-in-out, border 0.6s ease-in-out !important;
  border: 1px solid #ff8300 !important;
  background-color: #ff8300 !important;
}

.button--hubspot a:hover {
  color: #fff !important;
  -webkit-transition: background 0.6s ease-in-out, border 0.6s ease-in-out !important;
  -moz-transition: background 0.6s ease-in-out, border 0.6s ease-in-out !important;
  transition: background 0.6s ease-in-out, border 0.6s ease-in-out !important;
  background: #ff610a !important;
  border: 1px solid #ff610a !important;
}

.button--hubspot a:active {
  color: #fff !important;
}

.button--hubspot a:focus {
  color: #fff !important;
}

.button--hubspot a:visited {
  color: #fff !important;
}

/*-----------------------------------------------------------------------*\
    Media Queries - Keep at bottom of file.
\*-----------------------------------------------------------------------*/

/* Chrome Specific CSS */

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
  .cus-content-search-input {
    height: 56.5px;
  }
}

@media print {

  header,
  aside,
  footer,
  nav,
  form,
  .nav,
  .js-nav,
  .js-sticky,
  .filter,
  .container--page-title,
  .page__title--main {
    display: none !important
  }

  header {
    border-bottom: 1pt solid black
  }

  #page:before {
    content: "MEDITECH"
  }

  section,
  article,
  article {
    width: 90%;
    margin: 0;
    padding: 0 5% 0 5%;
    float: left
  }

  .panel {
    border: none;
    background: transparent
  }

  .accordion__dropdown {
    display: block !important
  }
}

@media all and (max-width: 80em) {
  .video .video__play-btn {
    font-size: 5em;
    height: 50px;
    width: 50px;
    line-height: 50px
  }
}

@media (min-width: 75em) {
  .sb-slidebar {
    width: 20%
  }

  .sb-width-thin {
    width: 5%
  }

  .sb-width-wide {
    width: 35%
  }
}

@media all and (max-width: 71.875em) {
  .nav__menu--large {
    font-size: 1.1em;
  }
}

@media all and (max-width: 68.125em) {
  .campaign__box {
    min-height: 10.15em
  }
}

@media all and (max-width: 65em) {
  .nav {
    border-bottom: 0.35em solid #00BC6F;
    padding: .5em 0 .2em 0
  }

  .nav__logo--small {
    display: none
  }

  .nav__menu--large {
    display: none
  }

  .nav__logo--large {
    display: inline-block;
    margin-top: .7em;
    width: 130px;
  }

  .nav__menu--small {
    display: inline-block
  }

  header.header {
    display: none
  }

  .nav__secondarymenu {
    display: block
  }

  .nav {
    position: fixed
  }

  .main {
    margin-top: 70px
  }

  .info__card__media__img {
    height: 150px;
    width: 150px;
    line-height: 150px
  }

  .container--page-title {
    display: none;
  }

  .close-modal {
    top: 60px;
    right: 15px;
    font-size: 50px;
  }
}

/* Removes left open slidebar at sizes above 1040px */
@media (min-width: 65.063em) {
  .sb-slidebar.sb-active {
    width: 0%;
  }
}

@media (min-width: 62em) {
  .sb-slidebar {
    width: 30%
  }

  .sb-width-thin {
    width: 15%
  }

  .sb-width-wide {
    width: 45%
  }
}

@media all and (max-width: 58.75em) {
  .square-img-cropper {
    height: 160px
  }

  .square-img-cropper img {
    height: 160px;
    width: 360px;
    max-width: 360px
  }

  .hide__bg-image--tablet {
    background-image: none !important
  }

  .hide--tablet {
    display: none
  }

  .video {
    margin-bottom: 0
  }
}

@media screen and (max-width: 55em) {
  .text--containment {
    max-width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 50em) and (max-width: 65em) {
  .circle-people {
    width: 150px;
    height: 150px;
  }
}

@media all and (max-width: 50em) {
  body {
    font-size: 85%
  }

  blockquote:before {
    top: .5em
  }

  .phone-number {
    color: #087E68;
    border-bottom: 1px solid #e6e9ee
  }

  .phone-number:hover {
    color: #3e4545;
    border-bottom: 1px solid #3e4545
  }

  .gl-container > div:last-child {
    padding: 2em;
  }

  .container__one-half {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%
  }

  .container__one-half:last-child {
    margin-right: 0
  }

  .container__one-third {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%
  }

  .container__one-third:last-child {
    margin-right: 0
  }

  .container__two-thirds {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%
  }

  .container__two-thirds:last-child {
    margin-right: 0
  }

  .container__two-thirds--with-sidebar {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding-right: 0em;
    margin-bottom: 2em
  }

  .container__two-thirds--with-sidebar:last-child {
    margin-right: 0
  }

  .container__newsletter {
    width: 97%
  }

  .gl-container > .container__one-third,
  .gl-container > .container__two-thirds,
  .gl-container > .container__one-half {
    width: 100%;
  }

  .square-img-cropper {
    text-align: left;
    height: auto;
    position: static
  }

  .square-img-cropper img {
    height: auto;
    max-width: 500px;
    position: static
  }

  .square-img-cropper.crop-center img {
    left: 0;
    margin-left: 0
  }

  .btn--menu {
    padding-left: .3em;
    padding-right: .3em
  }

  .button-vertical-adjustment {
    margin-top: 1em;
  }

  .desaturateToColorRollover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%)
  }

  .desaturateToColorRollover:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%)
  }

  .colorToDesaturateRollover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%)
  }

  .colorToDesaturateRollover:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%)
  }

  .hide__bg-image--mobile {
    background-image: none !important
  }

  .hide--mobile {
    display: none
  }

  .quote__content__icon {
    margin-top: 1.5em
  }

  .info__card {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%
  }

  .info__card:last-child {
    margin-right: 0
  }

  .info__card:nth-child(3n) {
    margin-right: 2.35765%
  }

  .info__card:nth-child(3n + 1) {
    clear: none
  }

  .info__card:nth-child(2n) {
    margin-right: 0
  }

  .info__card:nth-child(2n + 1) {
    clear: left
  }

  .nav__logo--large {
    margin-top: 1.3em;
  }

  .info__card.no-margin--bottom {
    margin-bottom: 2em
  }

  .content__callout {
    position: static;
    height: auto
  }

  .content__callout__media {
    width: 100%;
    display: block;
    position: static
  }

  .content__callout__title-wrapper,
  .content__callout__title-wrapper--green {
    position: static;
    margin: 3em 0;
    padding-right: 0
  }

  .content__callout__title-wrapper:after,
  .content__callout__title-wrapper--green:after {
    display: none
  }

  .content__callout__image-wrapper {
    margin-bottom: 0
  }

  .content__callout__image-wrapper:after {
    display: none
  }

  .content__callout__content {
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 2em;
    width: 26em;
    margin-top: 0;
    width: 100%;
    display: block;
    position: static;
    color: #3e4545;
    background-color: #E6E9EE
  }

  .content__callout__content--green,
  .content__callout__content-orange,
  .content__callout__content-black-coconut {
    padding: 4%;
    width: 26em;
    margin-top: 0;
    width: 100%;
    display: block;
    position: static;
    color: #e6e9ee;
    background-color: #3e4545
  }

  .content__callout__content p a {
    color: #087e68;
    border-bottom: 1px solid #c8ced9
  }

  .content__callout__content--green p a,
  .content__callout__content-orange p a,
  .content__callout__content-black-coconut p a {
    color: #fff;
    border-bottom: 1px solid #e6e9ee
  }

  .content__callout__content p a:hover {
    color: #3e4545;
    border-bottom: 1px solid #3e4545
  }

  .content__callout__content--green p a:hover,
  .content__callout__content-orange p a:hover,
  .content__callout__content-black-coconut p a:hover {
    color: #00bbb3;
    border-bottom: 1px solid #00bbb3
  }

  .content__callout__bg__img + .content__callout__content,
  .content__callout__bg__img + .content__callout__content--green,
  .content__callout__bg__img + .content__callout__content-orange,
  .content__callout__bg__img + .content__callout__content-black-coconut {
    color: #3e4545;
    background-color: #e6e9ee
  }

  .content__callout__bg__img + .content__callout__content p a,
  .content__callout__bg__img + .content__callout__content--green p a,
  .content__callout__bg__img + .content__callout__content-orange p a,
  .content__callout__bg__img + .content__callout__content-black-coconut p a {
    color: #087E68;
    border-bottom: 1px solid #c8ced9
  }

  .content__callout__bg__img + .content__callout__content p a:hover,
  .content__callout__bg__img + .content__callout__content--green p a:hover,
  .content__callout__bg__img + .content__callout__content-orange p a:hover,
  .content__callout__bg__img + .content__callout__content-black-coconut p a:hover {
    color: #3e4545;
    border-bottom: 1px solid #3e4545
  }

  .content__callout__bg__img--green + .content__callout__content--green {
    color: #fff;
    background-color: #087E68
  }

  .content__callout__modifier--video-logo .content__callout__content,
  .content__callout__modifier--video-logo .content__callout__content--green,
  .content__callout__modifier--video-logo .content__callout__content-orange,
  .content__callout__modifier--video-logo .content__callout__content-black-coconut {
    background-color: #fff;
    margin-top: 3em;
    padding-top: 3em;
    padding-bottom: 2em
  }

  .content__callout__modifier--video-logo .content__callout__body__text--large {
    margin-bottom: 0
  }

  .video .video__play-btn {
    height: 45px;
    width: 45px;
    line-height: 45px
  }

  .content__callout__body__text {
    padding-top: 0;
  }

  .campaign__wrapper {
    padding-bottom: 0em
  }

  .logo__container {
    max-width: 375px;
    margin-top: 0em
  }

  .campaign__box {
    margin-bottom: 4em;
    min-height: 8em
  }

  .campaign__icon,
  .campaign__icon--half {
    left: 46%
  }

  .circle-people {
    margin: 0 auto;
  }

  .executive-background {
    padding: 4em 0;
  }

  .executive-titles {
    position: relative;
    top: 7em;
  }

  .hide-on-tablets {
    display: none;
  }

  #mask,
  .modal,
  .modal-content {
    display: none !important;
  }

  .open-modal:hover .mag-bg,
  .mag-bg {
    display: none;
  }

  .share-icons a {
    font-size: 2em;
    margin-right: .5em;
  }
}

@media (min-width: 48em) {
  .sb-slidebar {
    width: 40%
  }

  .sb-width-thin {
    width: 25%
  }

  .sb-width-wide {
    width: 55%
  }

  a[href^="tel:"],
  a:hover[href^="tel:"] {
    color: #3e4545;
    text-decoration: none;
    border-bottom: none;
    cursor: auto;
  }
}

@media all and (max-width: 40em) {

  .campaign__icon,
  .campaign__icon--half {
    left: 44%
  }
}

@media all and (max-width: 37.5em) {
  .container--form__search {
    margin-bottom: 3em
  }

  #edit-tid-wrapper {
    display: none
  }
}

@media screen and (max-width: 32.5em) {
  .video--title {
    bottom: 20%;
  }

  .floating-quote-box {
    margin-bottom: 0em;
  }

  .padding--medium {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .content__callout__image-wrapper {
    padding: 2em;
  }
}

@media all and (max-width: 30em) {
  .sb-slidebar {
    width: 70%
  }

  .sb-width-thin {
    width: 55%
  }

  .sb-width-wide {
    width: 85%
  }

  .container__one-fourth {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%
  }

  .container__one-fifth,
  .container__four-fifths {
    width: 100%
  }

  .container__one-fourth:last-child {
    margin-right: 0
  }

  .container__three-fourths {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%
  }

  .container__three-fourths:last-child {
    margin-right: 0
  }

  .gl-container > .container__one-fifth,
  .gl-container > .container__four-fifths,
  .gl-container > .container__one-fourth,
  .gl-container > .container__three-fourths {
    width: 100%;
  }

  .transparent-overlay,
  .transparent-overlay--xp,
  .transparent-overlay--white,
  .transparent-overlay--white-xp {
    margin-bottom: 1em
  }

  footer .container__one-third {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%
  }

  footer .container__one-third:last-child {
    margin-right: 0
  }

  footer h4 {
    margin-top: 1em
  }

  footer ul li a {
    padding: .4em 0;
    display: inline-block
  }

  .executive__bio__avatar {
    margin: 0 auto;
    text-align: center;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%
  }

  .executive__bio__avatar:last-child {
    margin-right: 0
  }

  .executive__bio__avatar img {
    float: none;
    padding: 1em 0 1.5em 0
  }

  .accordion__dropdown img {
    float: none;
    display: block;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%
  }

  .accordion__dropdown img:last-child {
    margin-right: 0
  }

  .accordion__dropdown__container__left {
    font-weight: bold;
    margin-top: 0em;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%
  }

  .accordion__dropdown__container__left:last-child {
    margin-right: 0
  }

  .accordion__dropdown__container__right {
    margin-bottom: 1.5em;
    margin-top: 0em;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%
  }

  .accordion__dropdown__container__right:last-child {
    margin-right: 0
  }

  .quote__content__img {
    max-width: 35%;
    max-height: auto;
    width: 100%;
  }

  .info__card {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%
  }

  .info__card:nth-child(3n) {
    margin-right: 2.35765%
  }

  .info__card:nth-child(3n + 1) {
    clear: none
  }

  .info__card:nth-child(2n) {
    margin-right: 2.35765%
  }

  .info__card:nth-child(2n + 1) {
    clear: none
  }

  .info__card:last-child {
    margin-right: 0
  }

  .grid-item {
    width: 100%;
    border-right: 0
  }

  .grid-items-lines .grid-item:nth-child(1n + 7) {
    border-bottom: 1px solid #373d3d
  }

  .campaign__icon,
  .campaign__icon--half {
    left: 43%
  }

  .executive-background {
    padding: 12em 0;
  }

  .executive-titles {
    position: relative;
    top: 0;
  }

  .show-on-mobile {
    display: block;
  }

  .hide-on-mobile {
    display: none;
  }
}

@media (min-width: 30.063em) {
  .sb-slidebar {
    width: 55%
  }

  .sb-width-thin {
    width: 40%
  }

  .sb-width-wide {
    width: 70%
  }
}

@media screen and (max-width: 27em) {
  .video--title {
    bottom: 10%;
  }

  .padding--large {
    padding-top: 3em;
    padding-bottom: 6em;
  }
}

@media all and (max-width: 25em) {
  .video {
    margin-left: 0;
    max-width: 100%;
    padding-bottom: 56.4%
  }
}

@media all and (max-width: 23em) {

  .campaign__icon,
  .campaign__icon--half {
    left: 40%
  }

  .video--title {
    bottom: 18%;
    padding-left: 0em;
    padding-right: .6em;
  }
}
