/*====== FONTS ======*/
	/* The following fonts are supported by all modern (Evergreen) browsers IE11 and up. */
	/* Based on http://coding.smashingmagazine.com/2013/02/14/setting-weights-and-styles-at-font-face-declaration/ */
	/*Newslab - for all Heading type content */

 @font-face {
		 font-family: Newslab;
		 src: url("/customersearchengine/assets/fonts/Newslab/Newslab.woff2") format("woff2"), 
		 	  url("/customersearchengine/assets/fonts/Newslab/Newslab.woff") format("woff"); 
		 font-weight: 400;
		 font-style: normal;
 }

 /* Newslab Bold*/
@font-face {
		font-family: Newslab;
		src: url("/customersearchengine/assets/fonts/Newslab/newslabbold-webfont.woff2") format("woff2"), 
			 url("/customersearchengine/assets/fonts/Newslab/newslabbold-webfont.woff") format("woff"); 
		font-weight: 700;
		font-style: normal;
}

 /*Source Sans Pro - for all Paragraph type content - Regular Type */
 @font-face {
		 font-family: 'Source Sans Pro';
		 src: url("/customersearchengine/assets/fonts/Source_Sans_Pro/sourcesanspro-regular-webfont.woff2") format("woff2"), 
			  url("/customersearchengine/assets/fonts/Source_Sans_Pro/sourcesanspro-regular-webfont.woff") format("woff");
		 font-weight: 400;
		 font-style: normal;
 }
/*Source Sans Pro - for all Paragraph type content - Bold Type  */
@font-face {
	font-family: 'Source Sans Pro';
 		 src: url("/customersearchengine/assets/fonts/Source_Sans_Pro/sourcesanspro-bold-webfont.woff2") format("woff2"), 
		 	  url("/customersearchengine/assets/fonts/Source_Sans_Pro/sourcesanspro-bold-webfont.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
/*Source Sans Pro - for all Paragraph type content - Italic Type  */
@font-face {
	font-family: 'Source Sans Pro';
 		 src: url("/customersearchengine/assets/fonts/Source_Sans_Pro/sourcesanspro-it-webfont.woff2") format("woff2"), 
		 	  url("/customersearchengine/assets/fonts/Source_Sans_Pro/sourcesanspro-it-webfont.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
/*Source Sans Pro - for all Paragraph type content - Bold Italic Type  */
@font-face {
	font-family: 'Source Sans Pro';
 		 src: url("/customersearchengine/assets/fonts/Source_Sans_Pro/sourcesanspro-bolditalic-webfont.woff2") format("woff2"), 
		 	  url("/customersearchengine/assets/fonts/Source_Sans_Pro/sourcesanspro-bolditalic-webfont.woff") format("woff");
	font-weight: 700;
	font-style: italic;
}

html {
	display: flex;
	flex-direction: column;
}
/* Main Body */
body {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
}
h1,h2,
h3,h4,
h5,h6 {
  font-family: "Newslab", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
}
main {
	margin-top: 1em;
	margin-bottom: 1em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1 1 auto;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	width: 100%;
}

main section.row {
	-ms-flex: 1 0 auto;
	width: 100%;
}

.shadow-2dp {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 
							0 3px 1px -2px rgba(0, 0, 0, .2), 
							0 1px 5px 0 rgba(0, 0, 0, .12);
}

h1, h5 {
	font-family: Newslab, verdana, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: inherit;
	text-rendering: optimizeLegibility;
	margin-top: 0;
	margin-bottom: .5rem;
	line-height: 1.4
}

h1 {
	font-size: 1.5rem
}

h5 {
	font-size: 1.1rem
}

@media screen and(min-width: 40em) {
	h1 {
			font-size: 3rem;
	}

	h5 {
			font-size: 1.25rem;
	}
}

a {
	color: #109372;
	text-decoration:none;
	line-height:inherit;
	cursor:pointer;
	}

a:focus,
a:hover{
	color: #3e4545;
}

h5 a:focus,
h5 a:hover{
	color: #3e4545;
	border-bottom: 1px solid #3e4545;
}

h1.mt-logo-lg {
		font-family: Arial, sans-serif;
		font-weight: 700;
		font-size: 2rem;
		color: #006652;
		margin: 0;
		line-height:.8;
		text-align: center;
		-webkit-transition: font-size .5s ease;
		transition: font-size .5s ease;
	}

	.mt-logo-lg::after {
		content: '.com';	
		color: #3e4545;
		font-size: .5rem;
		font-weight: 700;
		-webkit-transition: font-size .5s ease;
		transition: font-size .5s ease;
	}

	.search-engine {
		text-align: center;
		padding-right: 15px;
		font-size: .8rem;
		position: relative;
		left: 63px;
		-webkit-transition: font-size .5s ease;
		transition: font-size .5s ease;
	}

@media print, screen and (min-width: 40em) {
	h1.mt-logo-lg {
		font-family: Arial, sans-serif;
		font-weight: 700;
		font-size: 4rem;
		color: #006652;
		margin:0;
		line-height:.8;
		text-align: center;
	}

	.mt-logo-lg::after {
		content: '.com';	
		color: #3e4545;
		font-size: 1rem;
		font-weight: 700;
	}
	.search-engine {
		text-align: Center;
		padding-right: 15px;
		font-size: 1.5rem;
		position: relative;
		left: 123px;
	}
}

/* Header
#header {
	z-index: 2;
	border-top: 3px solid #109372;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 
							0 3px 1px -2px rgba(0, 0, 0, .2), 
							0 1px 5px 0 rgba(0, 0, 0, .12);
}
 */

.top-bar, .top-bar ul {
	background-color: #fff;
}

.menu-text.mt-logo {
		padding: .2rem 1rem;
}

.logo-meditech {
		font-family: Arial, sans-serif;
		font-weight: 700;
		font-size: 1.8em;
		color: #006652;
		margin:0;
		line-height:.8;
}

.logo-m {
	font-family: Arial, sans-serif;
	font-weight: 700;
	font-size: 1.8em;
	color: #fff;
	background-color: #006652;
	border: 1px solid #fff;
	box-shadow:  0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	margin-bottom: 0;
	margin:0;
	line-height:.8;
	padding: 5px;
}

#header .input-group {
	margin-bottom: 0;
}

.search-lg-input {
	min-width: 140px;
}
/* End of Header */

/* Homepage - Large Search Area*/
.search-lg {
	margin-top: 12rem;
	margin-bottom: 12rem;
}

.search-lg .input-group {
	margin-top: 1rem;
}

.content-search .input-group-button button {
	line-height:.8;
}

.input-group.content-search {
		padding-left: 1em;
}

main .search-help {
	display: none;
}

.search-help {
	white-space: nowrap;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	left: 8px;
}

.lg-search-help {
	float: right;
}

@media print, screen and (max-width: 350px) {
	.top-bar input#SearchString {
		width: 100px;
	}
}

.search-engine-input {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	margin-bottom: 1rem;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

#searchform .search-engine-input {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	margin-bottom: 0;
}
#searchform .search-engine-input:hover,
#searchform .search-engine-input:focus,
#searchform .search-engine-input:active {
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}
#searchform input[type=search] {
	border: 1px solid transparent;
	box-shadow: none;
}

button.transparent {
	background-color: transparent;
	color: #3e4545;
}

/*medium screen*/
@media screen and(min-width: 40em) { 
	.input-group.content-search {
		width: 450px;
	}
}

/*large screen*/
@media screen and(min-width: 64em) {
	.input-group.content-search {
		width: 600px;
	}
}
/* End of Homepage - Large Search Area*/

/* === Footer Component === */
footer {
	background-color: #3e4545;
	/* padding: 1em 0; */
	width: 100%;
	color: #fff;
}

footer .co-name,
footer .resource-links,
footer .social-links,
footer .co-info {
	margin-top: .5rem;
	margin-bottom: .5rem;
}

@media print, screen and (min-width: 64em){
	footer .social-links {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		    justify-content: flex-end;
	}
}

footer a,
footer a h5 {
	color: #fff;
	font-weight: 400;
	-webkit-transition: all .13s linear .13s;
	transition: all .13s linear .13s;
	border-bottom: none;
	text-decoration: none;
	text-align: center;
}

footer a:hover,
footer a:focus,
footer a h4:hover,
footer a h4:focus {
	color: #b7bbbe;
}

footer .control-doc {
	color: #3e4545;
}

footer .mt-logo {
	color: #fff;
	font-family: Arial, sans-serif;
	font-weight: 700;
	padding-left: 0 !important;
	font-size: 1.75rem;
	text-decoration: none;
}

footer .mt-logo-mit {
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-size: 0.565rem;
	display: block;
	position: relative;
	left: 2px;
}

@media screen and (max-width: 39.999em) {
	footer .mt-logo {
		font-size: 1.3rem;
		text-align: center;
	}
	footer a h5 {
		font-size: .95rem;
	}
}

/* Social Media */
.circle {
	border: solid 3px #fff;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	padding: 5px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	margin-right: .75rem;
}
.circle:last-of-type {
	margin-right: 0px;
}
footer a.social-link {
	display: block;
	width: 40px;
	height: 40px;
}

.facebook {
	background-color: #3b5998;
}

.twitter {
	background-color: #33CCFF;
}

.linkedin {
	background-color: #4875B4;
}

.email {
	background-color: #006652;
}

	/* Hover for social media footer icons */
footer a:hover, footer a:focus {   
  	-webkit-transition: opacity 300ms ease;   
  	transition: opacity 300ms ease;
  	opacity: 0.7;
}

.co-info-text {
	text-align: center;
}

/* === End of Footer Content === */

/* Data Tables Content */

#searchResultTable_filter {
	display: none;
}
@media screen and (max-width: 39.999em) {
	#filter-bar .menu {
		flex-wrap: wrap;
	}
}
.filter-types {
	margin-bottom: 1rem;
}

.f-adv-search {
	color: #109372;
	border-top: 3px solid #109372;
}

.f-adv-range {
	padding: .5rem;
    	border: 1px solid #cacaca;
    	margin: .5rem 0rem;
}

.search-top-nav .menu .active > a {
	color: #109372;
	background:none;
	border-bottom:3px solid #ff823d;
}

.datatables-container {
	height: 100%;
}

.search-results-item {
	background-color: transparent;
	-webkit-transition: all .08s linear .08s;
	transition: all .08s linear .08s;
	padding: .5em .4em;
	margin-bottom: .8em;
}

.search-results-item:focus, 
.search-results-item:hover {
	background-color: #e6e9ee;
}

.search-results-item-description, 
.search-results-item-title, 
.search-results-item-url {
	margin: 0;
	padding: 0;
	word-break: break-all;
}
.search-results-item-description, 
.search-results-item-url {
	font-size: .9em;
}

/*default icon*/
.search-results-item-title {
	font-weight: 700;
}
.search-results-item-url a::before {
	content: url(/customersearchengine/assets/img/m-icon.svg);
	padding-right: 5px;
	vertical-align: middle;
}

/*web documents, static and dynamic*/
.search-results-item-title {
	font-weight: 700;
}

.search-results-item-url a[href *= '.htm']::before,
.search-results-item-title {
	font-weight: 700;
}

.search-results-item-url a[href *= '.html']::before,
.search-results-item-title {
	font-weight: 700;
}

.search-results-item-url a[href *= '.php']::before,
.search-results-item-title {
	font-weight: 700;
}

.search-results-item-url a[href *= '.asp']::before,
.search-results-item-title {
	font-weight: 700;
}

.search-results-item-url a[href *= '.aspx']::before {
	content: url(/customersearchengine/assets/img/m-icon.svg);
	padding-right: 5px;
	vertical-align: middle;
}

/*images*/
.search-results-item-url a[href *= '.jpg']::before,
.search-results-item-url a[href *= '.png']::before,
.search-results-item-url a[href *= '.bmp']::before,
.search-results-item-url a[href *= '.gif']::before,
.search-results-item-url a[href *= '.svg']::before {
	content: url(/customersearchengine/assets/img/image.svg);
	padding-right: 5px;
	vertical-align: middle;
}

/*videos*/
.search-results-item-url a[href *= '.mp4']::before,
.search-results-item-url a[href *= '.swf']::before,
.search-results-item-url a[href *= '.flv']::before,
.search-results-item-url a[href *= '.avi']::before,
.search-results-item-url a[href *= '.wmv']::before,
.search-results-item-url a[href *= '.webm']::before {
	content: url(/customersearchengine/assets/img/film.svg);
	padding-right: 5px;
	vertical-align: middle;
}

/*other files*/
.search-results-item-url a[href *= '.pdf']::before {
	content: url(/customersearchengine/assets/img/file-pdf-o.svg);
	padding-right: 5px;
	vertical-align: middle;
}

.search-results-item-url a[href *= '.xls']::before,
.search-results-item-url a[href *= '.xlsx']::before {
	content: url(/customersearchengine/assets/img/file-excel-o.svg);
	padding-right: 5px;
	vertical-align: middle;
}

.search-results-item-url a[href *= '.doc']::before,
.search-results-item-url a[href *= '.docx']::before {
	content: url(/customersearchengine/assets/img/file-word-o.svg);
	padding-right: 5px;
	vertical-align: middle;
}

.search-results-item-url a[href *= '.ppt']::before,
.search-results-item-url a[href *= '.pptx']::before {
	content: url(/customersearchengine/assets/img/file-powerpoint-o.svg);
	padding-right: 5px;
	vertical-align: middle;
}

.search-results-item-url a[href *= '.sql']::before {
	content: url(/customersearchengine/assets/img/document-file-sql.svg);
	padding-right: 5px;
	vertical-align: middle;
	width: 16px;
	height: 16px;
}

.search-results-item-url a[href *= '.zip']::before,
.search-results-item-url a[href *= '.exe']::before {
	content: url(/customersearchengine/assets/img/file-archive-o.svg);
	padding-right: 5px;
	vertical-align: middle;
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
	border-top: none;
}
.dataTables_info,
.dataTables_paginate {
	font-size: .85rem;
}

.reveal {
	border-top: solid 5px #109372;
}

.reveal .medium {
	width: 60%;
}

.button {
		background-color: #109372;
		color:#fefefe;
		-webkit-transition: background-color .25s ease-out, border .25s ease-out, color .25s ease-out;
		transition: background-color .25s ease-out, border .25s ease-out, color .25s ease-out;
}

.button:focus, 
.button:hover {
	background-color: #0e7d61;
	border: 1px solid #0e7d61;
	color:#fefefe
}

.button.secondary {
	background-color: #ff823d;
	color: #fefefe;
}

.button.secondary:focus, .button.secondary:hover {
		background-color: #fd5a00;
		color: #fefefe;
}

/*Help Modal Formatting*/
.reveal table { 
	margin-bottom: 1.25rem; 
	border: 1px solid #ddd; 
	background: #fff; 
}
.reveal table thead { 
	font-weight: 700; 
	background: #f5f5f5; 
}
.reveal table thead tr th { 
	padding: 0.5rem 0.625rem 0.625rem; 
	font-size: 0.875rem; 
	color: #222; 
	text-align: left; 
}
.reveal table tr td,table tr th { 
	padding: 0.5625rem 0.625rem; 
	font-size: 0.875rem; 
	color: #222; 
}
.reveal table tbody tr:nth-child(even) { 
	background-color: #fefefe; 
}
.reveal table tbody tr td,table thead tr th,table tr td { 
	display: table-cell; 
	line-height: 1.125rem; 
}
/* End of Help Modal Formatting */
#searchResultTable thead {
	display: none;
}
.search-results-item:focus, 
.search-results-item:hover  {
	background-color: transparent; 
}

table.dataTable.display tbody tr:hover { 
	background-color: #f6f6f6;
}

table.dataTable.no-footer { 
	border-bottom: none; 
}
.menu>li>a { 
	display: block; 
	padding: .7rem 1rem; 
	line-height: 1; 
	border-bottom: 3px solid rgba(255, 255, 255, 0);
}

/*
 * Data Tables Control feature layout
 */
.dataTables_wrapper {
  position: relative;
  clear: both;
}
.dataTables_wrapper .dataTables_length {
  float: left;
}
.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
}
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
}
.dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
  padding-top: 0.755em;
}
div.dataTables_wrapper div.dataTables_paginate { 
	float: left; 
	text-align: right; 
	padding-top: 0.25em; 
}

.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  display: inline-block;
	padding: 0.1875rem 0.625rem;
	border-radius: 0;
	color: #0a0a0a;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  padding: 0.1875rem 0.625rem;
	background: #ff833d;
	color: #fefefe;
	cursor: default;

}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  padding: 0.1875rem 0.625rem;
	color: #cacaca;
	cursor: not-allowed;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	background: #e6e9ee;
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em;
}

div.dataTables_wrapper div.dataTables_info {
  color: #3e4545;
	padding-top: .4em;
	margin-left: 1rem;
}

.dataTables_wrapper .dataTables_scroll {
  clear: both;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th > div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td > div.dataTables_sizing {
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid #111;
}
.dataTables_wrapper.no-footer div.dataTables_scrollHead table,
.dataTables_wrapper.no-footer div.dataTables_scrollBody table {
  border-bottom: none;
}
.dataTables_wrapper:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

@media screen and (max-width: 767px) {
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center;
  }
  .dataTables_wrapper .dataTables_paginate {
    margin-top: 0.5em;
  }
}
/*End of DataTables Pagination*/


/* SELECT2 Foundation Theme*/

span.select2-container--foundation {
	vertical-align: top; }

span.select2-container--foundation .selection {
	margin: 0 0 1rem; }

.select2-container--foundation {
	/**
		 * Search field in the Select2 dropdown.
		 */
	/**
		 * No outline for all search fields - in the dropdown
		 * and inline in multi Select2s.
		 */
	/* Clear the selection. */
	/**
		 * Address disabled Select2 styles.
		 *
		 * @see https://select2.github.io/examples.html#disabled
		 * @see http://getbootstrap.com/css/#forms-control-disabled
		 */
	/*------------------------------------*            #DROPDOWN
		\*------------------------------------*/ }
	.select2-container--foundation .select2-selection {
		background-color: #fefefe;
		border: 1px solid #cacaca;
		border-radius: 0;
		color: #0a0a0a;
		font-family: inherit;
		font-size: 1rem;
		background: #fefefe;
		outline: 0; }
	.select2-container--foundation .select2-search--dropdown .select2-search__field {
		background-color: #fefefe;
		border: 1px solid #cacaca;
		border-radius: 0;
		color: #0a0a0a;
		font-family: inherit;
		font-size: 1rem;
		border-radius: 0; }
	.select2-container--foundation .select2-search__field {
		outline: 0;
		/* Firefox 18- */
		/**
				 * Firefox 19+
				 *
				 * @see http://stackoverflow.com/questions/24236240/color-for-styled-placeholder-text-is-muted-in-firefox
				 */ }
		.select2-container--foundation .select2-search__field::-webkit-input-placeholder {
			color: #8a8a8a; }
		.select2-container--foundation .select2-search__field:-moz-placeholder {
			color: #8a8a8a; }
		.select2-container--foundation .select2-search__field::-moz-placeholder {
			color: #8a8a8a;
			opacity: 1; }
		.select2-container--foundation .select2-search__field:-ms-input-placeholder {
			color: #8a8a8a; }
	.select2-container--foundation .select2-results__option {
		/**
				 * Disabled results.
				 *
				 * @see https://select2.github.io/examples.html#disabled-results
				 */
		/**
				 * Hover state.
				 */
		/**
				 * Selected state.
				 */ }
		.select2-container--foundation .select2-results__option[role=group] {
			padding: 0; }
			.select2-container--foundation .select2-results__option[role=group] strong {
				padding-left: 0.125rem; }
		.select2-container--foundation .select2-results__option[aria-disabled=true] {
			color: #8a8a8a;
			cursor: default; }
		.select2-container--foundation .select2-results__option--highlighted[aria-selected] {
			background-color: #2199e8;
			color: foreground(#2199e8); }
	.select2-container--foundation.select2-container--focus .select2-selection {
		border: 1px solid #8a8a8a; }
	.select2-container--foundation.select2-container--open .select2-selection {
		border: 1px solid #8a8a8a;
		border-radius: 0; }
	.select2-container--foundation.select2-container--open {
		/**
				 * Make the dropdown arrow point up while the dropdown is visible.
				 */ }
		.select2-container--foundation.select2-container--open .select2-selection__arrow b {
			-webkit-transform: rotate(180deg);
			        transform: rotate(180deg); }
	.select2-container--foundation .select2-choice {
		box-shadow: none;
		background-image: none; }
		.select2-container--foundation .select2-choice div {
			background-clip: padding-box; }
		.select2-container--foundation .select2-choice .select2-arrow {
			border: 0px;
			border-radius: 0px;
			background: transparent;
			background-image: none; }
	.select2-container--foundation *:focus {
		outline: 0px; }
	.select2-container--foundation .select2-selection__clear {
		color: #8a8a8a;
		cursor: pointer;
		float: left;
		font-weight: bold;
		margin-right: 0px; }
		.select2-container--foundation .select2-selection__clear:hover {
			color: #333; }
	.select2-container--foundation.select2-container--disabled .select2-selection {
		border: 1px solid #cacaca; }
	.select2-container--foundation.select2-container--disabled .select2-selection,
	.select2-container--foundation.select2-container--disabled .select2-search__field {
		cursor: default; }
	.select2-container--foundation.select2-container--disabled .select2-selection,
	.select2-container--foundation.select2-container--disabled .select2-selection--multiple .select2-selection__choice {
		background-color: #e6e6e6;
		color: foreground(#e6e6e6); }
	.select2-container--foundation.select2-container--disabled .select2-selection__clear,
	.select2-container--foundation.select2-container--disabled .select2-selection--multiple .select2-selection__choice__remove {
		display: none; }
	.select2-container--foundation .select2-dropdown {
		border: 1px solid #8a8a8a;
		border-top: 1px solid #cacaca;
		background: #fefefe;
		border-radius: 0;
		overflow-x: hidden;
		margin-top: -0.0625rem; }
		.select2-container--foundation .select2-dropdown--above {
			margin-top: 0.0625rem;
			border-radius: 0;
			border-top: 1px solid #8a8a8a;
			border-bottom: 1px solid #cacaca; }
	.select2-container--foundation .select2-results > .select2-results__options {
		/* Limit the dropdown height. */
		max-height: 200px;
		overflow-y: auto; }

/**
 * Temporary fix for https://github.com/select2/select2-bootstrap-theme/issues/9
 *
 * Provides `!important` for certain properties of the class applied to the
 * original `<select>` element to hide it.
 *
 * @see https://github.com/select2/select2/pull/3301
 * @see https://github.com/fk/select2/commit/31830c7b32cb3d8e1b12d5b434dee40a6e753ada
 */
.form-control.select2-hidden-accessible {
	position: absolute !important;
	width: 1px !important; }

/**
 * Display override for inline forms
 */
.input-group span.select2-container--foundation {
	margin: 0;
	vertical-align: middle; }
	.input-group span.select2-container--foundation .selection .select2-selection {
		vertical-align: middle;
		border-radius: 0; }

/****** Single SCSS *******/
.select2-container--foundation .select2-selection--single,
.select2-container--foundation .selection .select2-selection--single {
	height: 2.4375rem;
	line-height: 1.5;
	padding: 0.5rem; }
	.select2-container--foundation .select2-selection--single .select2-selection__rendered,
	.select2-container--foundation .selection .select2-selection--single .select2-selection__rendered {
		color: #0a0a0a; }
	.select2-container--foundation .select2-selection--single .select2-selection__arrow,
	.select2-container--foundation .selection .select2-selection--single .select2-selection__arrow {
		height: 2.4375rem;
		position: absolute;
		top: 0;
		right: 1px;
		width: 20px; }
		.select2-container--foundation .select2-selection--single .select2-selection__arrow b,
		.select2-container--foundation .selection .select2-selection--single .select2-selection__arrow b {
			border-color: #333 transparent transparent transparent;
			top: 50%;
			border-style: solid;
			border-width: 6px 4px 0 4px;
			height: 0;
			left: 50%;
			margin-left: -4px;
			margin-top: -2px;
			position: absolute;
			width: 0; }
	.select2-container--foundation .select2-selection--single .select2-selection__placeholder,
	.select2-container--foundation .selection .select2-selection--single .select2-selection__placeholder {
		color: #8a8a8a; }
	.select2-container--foundation .select2-selection--single .select2-selection__clear,
	.select2-container--foundation .selection .select2-selection--single .select2-selection__clear {
		cursor: pointer;
		float: right;
		font-weight: bold; }

/****** Multiple SCSS *******/
.select2-container--foundation .select2-selection--multiple {
	/* Clear the selection.  */ }
	.select2-container--foundation .select2-selection--multiple .select2-selection__choice__remove:hover {
		cursor: pointer; }
	.select2-container--foundation .select2-selection--multiple ul.select2-selection__rendered,
	.select2-container--foundation .select2-selection--multiple .select2-selection__rendered {
		display: inherit;
		box-sizing: border-box;
		list-style: none;
		margin: 0;
		padding: 0 5px;
		width: 100%; }
	.select2-container--foundation .select2-selection--multiple .select2-selection__choice {
		border-radius: 0;
		padding: 0.1875rem 0.3125rem;
		cursor: default;
		float: left;
		margin-right: 0.3125rem;
		margin-top: 0.125rem;
		margin-bottom: 0.125rem;
		border: 1px solid #d5d9e2;
		background-color: #e6e9ee; }
	.select2-container--foundation .select2-selection--multiple .select2-selection__choice__remove {
		margin-right: 6px;
		margin-left: 6px;
		float: right; }
	.select2-container--foundation .select2-selection--multiple .select2-search--inline .select2-search__field {
		background: transparent;
		line-height: 1.5;
		border: 0;
		margin-top: 0;
		min-width: 5rem;
		height: 2.375rem;
		box-shadow: none;
		margin: 0;
		margin-right: -2rem; }
	.select2-container--foundation .select2-selection--multiple .select2-selection__choice__remove {
		color: #8a8a8a;
		cursor: pointer;
		display: inline-block;
		font-weight: bold;
		margin-right: 0.25rem; }
		.select2-container--foundation .select2-selection--multiple .select2-selection__choice__remove:hover {
			color: #333; }
	.select2-container--foundation .select2-selection--multiple .select2-selection__clear {
		margin-right: 0.1875rem;
		margin-top: 0.5rem; }

/* End of Select2 Foundation Theme*/




/*  Temp Design Changes KD  */


#footer {
	background-color: #fff;
}


#footer a {
    line-height: inherit;
    color: #109372;
    text-decoration: none;
    cursor: pointer;
}

#footer h5 {
	color: #3e4545
}

.cus-footer {
	padding-top: 2em;
	padding-bottom: 2em;
	border-top: 1px solid #e6e9ee
  }
  
  .cus-footer ul li {
	line-height: 1.25em;
	margin-bottom: 1.2em
  }
  
  .cus-footer ul li a {
	border-bottom: none
  }
  
  .cus-footer ul li a:focus,
  .cus-footer ul li a:hover {
	border-bottom: 1px solid #3e4545
  }
  
  .cus-footer-phone {
	background-color: #e6e9ee;
	font-size: 1.75rem;
	padding-top: 1rem;
	padding-bottom: 1rem
  }
  
  .cus-footer-phone-icon {
	color: #3e4545;
	font-size: 2.5rem
  }
  
  .cus-footer-phone-number {
	display: inline-block;
	vertical-align: super
  }
  
  .cus-footer-location {
	background-color: #3e4545;
	padding-top: 1rem;
	padding-bottom: 1rem
  }
  
 #footer .cus-footer-location a {
	color: #fff;
	font-size: 1.35rem;
	line-height: 1.5
  }
  
  .back-to-top {
	position: fixed;
	bottom: .8em;
	right: 1em;
	text-decoration: none;
	color: #fff;
	background-color: rgba(0, 0, 0, .5);
	padding: 1em;
	display: none;
	border-radius: 3px;
	font-size: 1em;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	outline: 0
  }
  
  .back-to-top:hover {
	background-color: rgba(0, 0, 0, .8);
	color: #fff;
	text-decoration: none
  }
  
  .cus-footer a[target=_blank]::after {
	font-family: FontAwesome;
	content: ' \f08e'
  }
  
  td.gsc-search-button {
  width : 1%;
}